[2016-01-29 23:20] m-laniakea opened #1 "Getting more done in GitHub with ZenHub"
@m-laniakea has created a [ZenHub](http://www.zenhub.io) account for the **TextX** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account. Once you

[2016-01-29 23:38] m-laniakea opened #2 "Complete Backbone"

[2016-01-29 23:57] m-laniakea opened #3 "Review Languages"
[Codecademy](http://codecademy.com)

[2016-01-31 06:25] m-laniakea opened #4 "Complete database definition (models.py)"

[2016-01-31 06:36] m-laniakea opened #5 "Add User logins"

[2016-01-31 06:36] m-laniakea opened #6 "Add basic user pages"

[2016-01-31 17:06] m-laniakea opened #7 "Handle 500 error."
This involves updating errors.py & creating 500.html in templates.

[2016-01-31 17:15] #2 closed

[2016-02-01 08:00] #5 closed

[2016-02-01 08:01] m-laniakea opened #8 "Add User Registration"

[2016-02-01 08:03] m-laniakea opened #9 "User Signout"

[2016-02-01 08:04] m-laniakea opened #10 "Auto-Populate Database with our emails"

[2016-02-01 08:20] m-laniakea opened #11 "Fading User Messages"

[2016-02-02 15:23] m-laniakea opened #12 "Books Page"
This should simply grab the list of books from the database and display one entry per page on /books. No need to worry about pagination at this point

[2016-02-02 15:23] #9 closed

[2016-02-02 20:44] m-laniakea opened #13 "Add Explanations"

[2016-02-02 21:36] m-laniakea opened #14 "Let users know why their registration failed"

[2016-02-02 21:43] #13 closed

[2016-02-02 22:22] #14 closed

[2016-02-04 01:08] #3 closed

[2016-02-04 18:18] m-laniakea opened #15 "Auto-Populate DB with Books"

[2016-02-04 19:01] #7 closed

[2016-02-05 18:14] #8 closed

[2016-02-05 18:14] #10 closed

[2016-02-05 18:15] #1 closed

[2016-02-06 06:42] m-laniakea opened #16 "Books search page"

[2016-02-06 21:42] #15 closed

[2016-02-06 21:44] m-laniakea opened #17 "Implement "Add book" feature in profile"

[2016-02-06 22:26] m-laniakea opened #18 "User-User Messaging"

[2016-02-08 01:50] #12 closed

[2016-02-08 01:50] #6 closed

[2016-02-08 04:02] #17 closed

[2016-02-10 19:00] #16 closed

[2016-02-11 18:49] m-laniakea commented on #21
No need for a login page.

[2016-02-11 21:15] #18 closed

[2016-02-14 02:08] m-laniakea opened #28 "Edit Profile"

[2016-02-14 02:09] m-laniakea opened #29 "User Ratings"

[2016-02-14 23:07] aarongup commented on #27
What specific filters do we want to be searchable, or just make it like a plain vanilla search?

[2016-02-15 01:22] BitFracture opened #35 "Program Favicon Into Main Template"

[2016-02-15 18:35] m-laniakea commented on #27
Just title, author, & ISBN. Just keep in mind you'll have to filter by location as well later on.

[2016-02-17 07:24] aarongup commented on #31
what do you mean..?

[2016-02-17 07:55] m-laniakea commented on #31
Instead of deleting and re-adding the book, users can just edit the book details.

[2016-02-17 17:28] #35 closed

[2016-02-17 22:08] aarongup commented on #27
Done

[2016-02-19 01:52] aarongup commented on #31
in edit branch. mostly done. Just need to do error checking

[2016-02-19 02:17] aarongup commented on #31
did many error checks
- 13 digit isbn
- negative price
- invalid price
- negative cond
- invalid cond

[2016-02-19 02:24] aarongup commented on #31
Done without forms.

[2016-02-19 02:25] aarongup commented on #28
What fields are going to be allowed to be edited

[2016-02-19 21:32] #29 closed

[2016-02-19 22:35] m-laniakea commented on #31
Two things still need fixing:
- Logins on the book details page
- Remove the aggressive "forbidden" symbol when hovering

[2016-02-19 22:36] m-laniakea commented on #28
Just username, email, and password for now

[2016-02-24 08:43] aarongup commented on #31
Fixed beside one issue, how to redirect back to edit book page upon entering invalid data?

[2016-02-28 03:09] aarongup commented on #31
fixed :+1:

[2016-02-28 03:12] aarongup commented on #11
wut this mean

[2016-02-28 03:48] #4 closed

[2016-02-28 19:22] BitFracture opened #47 "Fix Windows start.bat NV Functionality"

[2016-03-04 21:21] #28 closed

[2016-03-05 02:36] #47 closed

[2016-03-05 05:24] m-laniakea opened #52 "Quantity of Books instead of duplicate Books"

[2016-03-05 23:22] BitFracture opened #55 "Center Book Background and Improve Aesthetics"

[2016-03-06 07:28] BitFracture opened #56 "Fix Book Search Field Clarity"

[2016-03-06 07:29] BitFracture opened #57 "Fix Horrifically Broken Recent Books Scroller"

[2016-03-06 07:48] BitFracture opened #60 "Remove Beta Progress Tracker"

[2016-03-06 07:53] BitFracture opened #63 "Achronym Location Identification"

[2016-03-06 08:10] BitFracture opened #68 "Replace Single-caps Limit With Insensitive Cross-checking for Usernames"

[2016-03-06 08:11] BitFracture opened #69 "Minimum Page Width"

[2016-03-06 18:07] #57 closed

[2016-03-06 18:21] #60 closed

[2016-03-06 19:55] m-laniakea commented on #56
Check

[2016-03-06 20:35] #55 closed

[2016-03-06 21:36] rkassala opened #71 "Make prices show in correct decimal format (ex. $5.0 -> $5.00)"

[2016-03-07 05:50] #71 closed

[2016-03-07 05:55] #68 closed

[2016-03-07 05:55] #56 closed

[2016-03-08 03:00] #63 closed

[2016-03-08 06:07] #69 closed

[2016-03-09 01:22] BitFracture opened #74 ""You must be logged in to contact the owner" button should link to login"

[2016-03-09 02:13] BitFracture opened #75 "Update Release Notes/Docs"

[2016-03-17 01:42] #52 closed

[2016-04-01 14:14] igordejanovic commented on #12
Report rule name only if the match failed on the left-most match in the rule definition.

[2016-04-13 14:22] igordejanovic opened #19 "Support for mixed abstract/match rules"
Currently it is assumed that rule can be either Normal (which results in metaclass creation), Abstract, e.g.

[code]

or Match rule, e.g.

[code]

Sometimes it is useful to have rules that is combination of Abstract and match rule, e.g.

[code]

This is not well supported in the model visualization.

[2016-04-13 20:29] igordejanovic opened #20 "Repetition/optional operators for regex and string matches"
Add repetition operators `*`, `+` and optional `?` for regex and string matches.

[2016-04-14 21:45] #19 closed, assigned to nobody

[2016-04-23 15:10] igordejanovic opened #21 "Suppress operator for matches in match rules"
Match rules will return whole matched string at the moment. There are situations when this behavior is not preferable. Although, we can always make a grammar to work around this the result won't be elegant.

e.g.

[code]

`Color` is match rule but in this case we don't want `clr` keyword to be returned as a part of the string. It could be written as:

[code]

This will work but it is not nice beca

[2016-04-23 15:30] igordejanovic commented on #21
Actually, currently match rule returns the first simple match that succeeds. In this case `clr` so the real valuable information (actual color) will be discarded in this case.

[2016-04-26 11:59] #20 closed, assigned to nobody

[2016-05-05 22:44] #21 closed, assigned to nobody

[2016-05-23 20:32] delijati opened #22 "Potential memory leak"
I used the IBM Rhapsody `LightSwitch.rpy` file and multiplied the content a couple of times to get it up to 2.7MB. Run it with caution memory consumption is very high.

Sorry i had to rename it github is not allowing upload of `*.rpy` files.

[LightSwitch.txt](https://github.com/igordejanovic/textX/files/278205/LightSwitch.txt)

[2016-05-24 17:36] igordejanovic commented on #22
Excessive memory usage is in memoization support in Arpeggio. I should rework that code. In the mean time I've introduced new parser parameter `memoization` which is `False` by default. For some common grammar's I tested it gives even slightly better speed performance and memory usage is considerably lower.

Please, test with Arpeggio code from master branch.

[2016-05-26 08:11] delijati commented on #22
I was running your `Arpeggio` master and the example from `perf/calgraph/`. It matches my own parser memeory consumtion:

[code]

[2016-05-26 16:46] igordejanovic commented on #22
[Here are some results](https://github.com/igordejanovic/Arpeggio/tree/master/tests/perf/reports) in Arpeggio testing. I find it interesting, especially differences between py2 and py3.
I will make the same testset for textX to see what is the overhead of textX's magic.
Arpeggio from master branch disables memoization by default so you should have smaller memory consumption, especially if you are

[2016-05-26 22:38] igordejanovic commented on #22
[Here](https://github.com/igordejanovic/textX/tree/master/tests/perf/reports) are reports from textX tests after fix in Arpeggio memoization (Arpeggio's master branch). Now, memory consumption overhead with memoization is much smaller. But, anyway, for this grammar there is no point in enabling memoization as there are no cache hits at all.

Python 3 seems to handle memory much better. And it is f

[2016-05-27 06:59] delijati commented on #22
I played a bit with [tracemalloc](https://docs.python.org/3/library/tracemalloc.html#module-tracemalloc) for python3 and it found one potential "leak". This results are with current Arpeggio master.

Before removing `_expr_cache` (python2):

[code]

After (python2):

[code]

Before (python3):

[code]

After (python3):

[code]

Another approach i will try is `from pympler.tracker import SummaryTrac

[2016-05-27 09:54] igordejanovic commented on #22
Nice work! It does looks like memory leak. `_expr_cache` is used to speed up parse tree node navigation using rule names. I suspect that it keep references to parse tree nodes that are thrown away during backtracking.

[2016-05-27 17:17] igordejanovic commented on #22
After some quick testing it looks that there is no memory leaking involved here. `_expr_cache` dicts are created per each `NonTerminal` and although they remain empty most of the time that is memory expensive considering the number of NonTerminal instances. Try moving `_expr_cache` instantiation to `__getattr__`. That will reduce memory usage while still providing parse tree navigation feature. If

[2016-05-28 17:39] ari-koivula opened #23 "Infinite recursion in visualization"
When I try to visualize this model with `textx visualize simple.tx`:

[code]

I get

[code]

`textx check simple.tx` says the meta-model is ok.

Also, this form works:

[code]

but this one doesn't:

[code]

I think all of these should be should work. I tried with master branch of Arpeggio and textX, as well as Arpeggio-1.4 and textX-1.3.

[2016-05-28 18:03] igordejanovic commented on #22
Check out `master` branch of Arpeggio. Some nice figures in perf. reports.

[2016-05-28 18:57] SnookEE opened #24 "Recursion difference with Arpeggio and textX"
The following grammar definition in Arpeggio works properly and is able to parse a
python arithmetic string.

[code]

but when that same grammar is expressed in the textX syntax it fails with an infinite recursion.

[code]

The error message is as follows

[code]

Thank you for your work.

[2016-05-28 19:20] SnookEE commented on #24
I pulled down master of Arpeggio and TextX and confirmed that this issue still exists there.

[2016-05-28 20:09] igordejanovic commented on #24
From a quick look those grammars are not the same.
You have a left recursion in the textX version.

[code]

on `op_prime` and `op_unary` alternatives.
To have the same rules as in Arpeggio version you will have to rewrite all rules to be of the form:

[code]

`|` is [ordered choice](http://igordejanovic.net/textX/grammar/#ordered-choice) (alternative). Writing expression just one after another is

[2016-05-28 20:32] igordejanovic commented on #23
Thanks for the report. It looks like a bug in the dot export function.
I will look into it.

[2016-05-28 20:37] ari-koivula commented on #23
There was a typo in the working example, it said `Value: ID;` instead of `Value: List | ID;`. I corrected it in the original message.

[2016-05-29 11:23] delijati commented on #22
That some nice improvements. Thanks for thank. I give it monday a shot with my big model.

[2016-05-29 15:21] igordejanovic commented on #23
Try `master` branch. Should be fine now.

[2016-05-29 16:33] ari-koivula commented on #23
Yes it works. Thank you.

[2016-05-29 16:33] #23 closed, assigned to nobody

[2016-05-30 08:30] delijati commented on #22
Works perfect even with a more complex and bigger sbs file. Thanks :)

[2016-05-30 09:41] igordejanovic opened #25 "Infinite recursion during dot export for recursive match rules"
Running visualization on the following grammar consisting only of a single match rule

[code]

leads to infinite recursion.

[2016-05-30 09:43] igordejanovic commented on #22
Great! You can close this issue if everything works ok.

[2016-05-30 11:07] delijati commented on #22
This ticket can be closed. But i the grammer seems to have an error. `ID` is parsed as parent for the following objects [1]. This has to do with the lines [2] as it says everything following a `;` is a array.

[1]

[code]

[2]

[code]

[2016-05-30 11:07] #22 closed, assigned to nobody

[2016-05-30 14:11] igordejanovic commented on #22
It is a grammar issue, not a bug in textX. Better to discuss that at [textX group](https://groups.google.com/forum/#!forum/textx-talk). You can use github gist for code snippets and just link in the group post.

[2016-05-30 14:53] SnookEE commented on #24
Thanks I'll rework my example and report back.

[2016-05-30 16:22] SnookEE commented on #24
I've reduced this example down to the basics presented in the [Arpeggio tutorial](http://igordejanovic.net/Arpeggio/grammars/) (sans the unary portion of the grammar.

I believe the issue still persists. It maybe a problem with my neophyte eyes, but I fail to see why there is an infinite recursion.

[code]

I believe I understand your comment at assignment to objects. I am using this arithmetic gr

[2016-05-30 17:16] #25 closed, assigned to nobody

[2016-05-30 23:13] igordejanovic commented on #24
textX a bit more "object oriented". Grammar in the spirit of textX should look
like this.

[code]

Notice that this grammar collects important stuff in meta-class attributes
`expressions` and `op` which will be the Python list on instances of
factor/term/expression. That way you get a nice object tree after parsing your
expression.

[code]

`model` will be an instance of `calc` class thus having `

[2016-05-31 14:49] SnookEE commented on #24
Thanks for your help in figuring out those issues. Here is where it ended up. This is a fun tool, thank you for your efforts.

[code]

[2016-05-31 14:58] igordejanovic commented on #24
Glad you like it. There are a lot of examples and several tutorials you can play around. Have fun!

[2016-05-31 18:13] SnookEE opened #26 "User defined non-trivial builtin types"
I am attempting to understand if it is possible to feed pack a previous parser run into textX in order to split up definition of user defined reference types.

For the "SimpleType" example provided defining a class to add to the system is trivial, but when the grammar for a type is very complicated it becomes necessary to define a large portion of the grammar in a user defined class structure.

Wh

[2016-06-01 10:22] igordejanovic commented on #26
There are two problems here:
1. cross-referencing at the meta-model (grammar) level between different grammars
2. cross-referencing objects at the model level.

For first problem one approach would be to use [grammar imports](http://igordejanovic.net/textX/grammar/#grammar-modularization) which is supported by textX but you will have to specify your grammars in separate files. For the other approa

[2016-06-03 12:40] igordejanovic commented on #26
I think some better form of meta-model level and model level integration should be designed. Hopefully, we should have those integrations on both external meta-language level and internal API level. Backward compatibility should be preserved with a proper deprecation period for old ways of work.

I've some rough ideas so I'll start some docs for writing and discussing new feature ideas in the foll

[2016-06-04 15:26] igordejanovic opened #27 "Make sequence a higher precendence than ordered choice"
To align with EBNF and PEG grammars, sequence should be of a higher precedence than ordered choice.
Currently it is not the case leads to using parentheses more than it should and it is unintuitive to the seasoned EBNF grammar writters. I'm considering this to be a bug in the language.

[2016-06-05 15:54] #27 closed, assigned to nobody

[2016-06-06 07:37] igordejanovic commented on #26
An initial draft is available [here](https://github.com/igordejanovic/textX/blob/master/docs/ideas/language_modularization.md). Ideas/comments are highly welcomed!

[2016-11-03 14:52] igordejanovic opened #30 "Match rule processors"
Match rules always return strings. In some cases it would be nice to transform it to other python types or to process the string in a way not possible by the current textX grammar capabilities.

Match rule processors will work in a similar way to object processors but with a twist. It would be a python callable that receives a matched string and returns whatever should be used in its place.

[2016-12-09 09:56] danibishop commented on #13
I was just about to ask about this 👍

In my case, I just expected this as default behavior and I guess I would not be the only one.

[2016-12-09 12:00] igordejanovic commented on #13
Yep. Definitely should be the default behaviour. It would reduce grammar boilerplate in some cases.

[2016-12-15 12:34] igordejanovic commented on #30
[Custom classes](http://igordejanovic.net/textX/metamodel/#custom-classes) feature might be generalized to support this one.

For example, instead of a list of classes, meta-model might receive a list of callables that should be called for rule with the matching name and whatever that callable returns will be used as the object in the resulting model. In case of [match rules](http://igordejanovic.

[2016-12-16 08:47] #24 closed, assigned to nobody

[2016-12-16 18:39] igordejanovic commented on #30
Generalizing custom classes to be a list of arbitrary callables proved to be tricky if at all possible to implement. These commits implements match rule processors that enables arbitrary transformations of strings returned by match rules. See [the docs](http://igordejanovic.net/textX/metamodel/#match-filters).

Thus if you want to implement new base types or change how current are interpreted this

[2016-12-16 18:41] #30 closed, assigned to nobody

[2017-01-28 19:29] csitarichie opened #31 "able to split model to several files and use import"
Is there any plan to make a built in support for import mechanism in model and have grammar support for it ?.

Right now I see only a way to define a simple grammar just for import statement. Use this grammar to parse the model (the compile context) than use the Abstract tree to to open the import files do it recursively till all includes resolve. Concatenate all the includes in to a single mega m

[2017-01-28 22:07] igordejanovic commented on #31
I had some plans to provide something along this line but never came up with something I would be satisfied with. All ideas/suggestions are welcomed ;)

Your approach is one of the viable approaches. Other is to use import statement as part of the real grammar and recursively parse imported models and reference them from the  source model. In this approach you must implement your own reference res

[2017-01-29 09:19] csitarichie commented on #31
Your suggestion seems to be a more generic one. And it also in kind of prescribes of creating implicit "modules" with the import statement. And as fare as I understood your documentation I can create my own class to implement opening the included "module" and parse it.
Can I than just add as children to the class will it be accessible by the outer parser which just created my class ? to able to us

[2017-01-29 12:19] igordejanovic commented on #31
Yes, you can provide your own class for any of your textX rules. This class will be instantiated by textX instead of dynamically created one.

An easier approach, if you only need to change the content of the object and don't
need additional methods, is to use [processors](http://igordejanovic.net/textX/metamodel/#processors). This is a general support for defining arbitrary language semantics. Ob

[2017-03-23 13:38] brain-HUN opened #32 "problem with resolution of links with complex names"
Hi,

During development I have run into a strange problem. I am not sure whether this is a bug or it's intentional. If I try to reference to an object that has name more complex than a simple ID I get an error.
I have created a minimal example to demonstrate the problem :

    from textx.metamodel import metamodel_from_str
    tx= """
    EntityModel:
      Entity
      Reference
    ;
    EntityN

[2017-03-23 13:54] igordejanovic commented on #32
Hi,
Reference resolving is done using `ID` rule by default. To change the default try this:
[code]
This syntax in reference definition enables you to define arbitrary Match rule to be used as a reference name.
This is covered in the docs [here](http://www.igordejanovic.net/textX/grammar/#references).

[2017-03-23 14:37] brain-HUN commented on #32
Thank you that helped the example to run, but it looks like I have oversimplified the example a little. Changing the grammar slightly:

    tx= """
    EntityModel:
      entity=Entity
      reference=Reference
    ;
    EntityName:
      first=ID '.' second=ID
    ;
    Entity:
      'entity' name=EntityName
    ;
    Reference:
      'reference' ref=[Entity]
    ;
    """

With this grammar  I g

[2017-03-23 16:14] igordejanovic commented on #32
Automatic reference resolving is supported for string names only.
For your language you could either
- use Match rule for `EntityName` and register object post-processor for splitting the name and providing first and second part as additional attributes on `Entity` (see  [object processors](http://www.igordejanovic.net/textX/metamodel/#object-processors) in the docs),
- Register your own `Entity`

[2017-03-24 10:08] brain-HUN commented on #32
Thank you for the answer. As there is no quick way around the issue I'll consider my options

[2017-04-27 11:28] francoisihry opened #33 "Grammar problem"
Hi Igor Dejanović, I first want to congrat you for your work. textX is a realy easy and usefull DSL tool.
I am currently facing a problem in my grammar.
[code]
And here is a simple test:
[code]
I get a syntax error : "Expected ID at position (2, 22) => 'c( a b, c *)"
So textX has recognized 'c' as a type instead of a name and expects to find a name next. I tried many other kind of pattern but I st

[2017-04-27 12:34] igordejanovic commented on #33
Hi François,
At first I thought that the solution would be simply:

[code]

But currently that doesn't work as expected so it is a bug. Please leave this
issue open until fixed.

Until the issue is resolved you can use the following solution:

[code]

[2017-05-12 16:20] #32 closed, assigned to nobody

[2017-05-14 22:32] #33 closed, assigned to nobody

[2017-05-14 22:37] igordejanovic commented on #33
This issue is fixed. With the development version of textX the solution would be:

[code]

Please see [the test for this issue](https://github.com/igordejanovic/textX/blob/master/tests/functional/regressions/test_issue33.py).

[2017-05-15 07:50] francoisihry commented on #33
Great !

[2017-05-29 13:44] zilakmarian opened #34 "textx.model.ObjCrossRef not resolved to proper object"
I was trying textx and there seems to be a problem with link rule references. Resulting model is containing textx.model.ObjCrossRef instead of specified objects.

Here is an example code:

[code]

Second print should be of class Attribute with name _attr_123_. It is ObjCrossRef instead.

[2017-06-02 13:07] igordejanovic commented on #34
Following part of the grammar has caused the problem:
[code]
As strings are collected in `values` attribute textX will deduce this attribute to be a list of strings and will not descend into resolving. In this particular grammar parentheses are just a syntax noise and should not be collected at all.

So, the following works:
[code]
Note that `values` will be now correctly recognized as a single va

[2017-06-02 17:00] igordejanovic commented on #34
The issue is fixed on the master branch. Please test.

[2017-06-14 15:15] #34 closed, assigned to nobody

[2017-07-24 00:43] jhrmnn opened #36 "Reverse parsing: from AST to code"
Hi, amazing project! I just started using it to parse a small DSL that serves as an input file to a large scientific program.

I was wondering how much work would it be to add the ability to go back from the parsed AST to the source code. The use case would be to parse code, modify the AST to some degree and write it back to code.

(I assume this functionality does not exist at the moment, I didn'

[2017-07-24 00:44] jhrmnn opened #37 "Parsing of floats ending with period."
`FLOAT` seems to parse both `2.0` and `2`, but not `2.`, is this intended behavior?

[2017-07-24 07:11] igordejanovic commented on #36
Hi, thanks!
You are right. That feature is not implemented at the moment but I do have a plan to do so at some point.
As I see it, there are two goals that need to be met:
- extend the grammar language to provide formatting information,
- during parsing collect and keep layouting (whitespaces) on the AST.

The reason for the first goal is that you need a way to layout newly created elements of the

[2017-07-24 07:30] igordejanovic commented on #37
I don't think so. I'll look into it.
In the meantime you can [create your own float type](http://www.igordejanovic.net/textX/metamodel/#match-filters).

[2017-07-24 07:32] jhrmnn commented on #36
Great. Would this also require changes to Arpeggio, or can it be implemented purely in TextX?

[2017-07-24 07:37] jhrmnn commented on #37
I already did. The documentation is superb.

[2017-07-24 07:45] igordejanovic commented on #36
The first point will probably be done on the textX level alone. Second one will definitely need change at the parser level but I think I already have some pieces in place.
As a side note, there is [a new parsing technology](https://github.com/igordejanovic/parglare) I'm working on that should be an additional front-end for textX eventually. A proper handling of whitespaces is done from the beginni

[2017-07-24 07:58] jhrmnn opened #38 "Canonical way to to convert AST objects to dicts"
For viewing the whole parsed AST in a Python console/notebook, or iterating over it, it's practical to convert the AST objects to dicts. At the moment, I'm using the following snippet, but it would be nice to have a canonical way in TextX, perhaps as an object method.

[code]

[2017-07-24 08:14] jhrmnn opened #39 "Grammar: Unordered group with nonsequential sub-repetitions"
`Rule: ('a' 'b'* 'c')# ;` parses `c a`, `a c b c`, or `b b b a c`, but not `b c b b a`. Is there a way to express such a grammar?

[2017-07-24 09:32] igordejanovic commented on #39
I'm not sure that I understand the pattern `b c b b a`. Do you mean that `b` can appear anywhere multiple times while `c` and `a` can appear only once?

[2017-07-24 09:42] igordejanovic commented on #38
Usually when dealing with your AST/model you need to know structure and semantics to do anything useful. But, as you say, there are times when some generic processing is needed like printing. There is a model API call [children_of_type](http://www.igordejanovic.net/textX/model/#children_of_typetyp-root) that can be used for generic iteration.

If that doesn't work for you and you come up to some b

[2017-07-24 10:11] jhrmnn commented on #39
Exactly.

[2017-07-24 10:25] igordejanovic commented on #39
I don't think that such a rule can be expressed at the syntax level. When you need some complex structural rule, make it more lax at the grammar level (to parse all valid cases but probably some invalid too) and than use [object processors](http://www.igordejanovic.net/textX/metamodel/#processors) to make further constraints.

In your case you can make a rule:
[code]
This will match `b c b b a` bu

[2017-07-24 10:45] jhrmnn commented on #39
Right, that makes sense. I'll give it a go. Thanks!

[2017-07-24 10:45] #39 closed, assigned to nobody

[2017-08-18 21:15] max-kamps opened #40 "Crash when 'name' is not a hashable type."
When a rules's name is not a hashable type (e.g. a list), like in this rule:
[code]

`process_node` crashes ungracefully:
[code]

[2017-08-19 08:32] igordejanovic commented on #40
Attributes called `name` are treated in a special way. They are used for [reference auto-resolving feature](http://www.igordejanovic.net/textX/grammar/#references). So, yes, `name` must be of a hashable type. I'll add a note in the docs.

[2017-08-20 11:00] igordejanovic commented on #40
As a side note, if you don't have a strict requirement for `name` to be a list, the idiomatic way to use this kind of identifier would be to create your match rule for a list of IDs and use that instead.
[code]
Match rules by default return matched string (if you do not use [match filters](http://www.igordejanovic.net/textX/metamodel/#match-filters)) so no problem with name lookups.

[2017-08-22 21:54] max-kamps commented on #40
Oh no, I was just surprised that it crashed instead of reporting that the metamodel was not OK.
I still think it would be better to check for stuff like this while parsing the metamodel, but I understand if that is too complex with the current setup. Haven't bothered to look into the code yet.

[2017-08-23 08:08] igordejanovic commented on #40
Yes. I agree. Better error reporting would be nice. I'll look into it when find some time.

[2017-09-02 14:14] aranega opened #41 "Parser serialization/code generation"
Currently, each time a program/text need to be analyzed, the grammar is parsed first to extract the metamodel and the language-parser.
Is there a way of serializing the generated parser so the grammar parsing can be done once and for all?

From prior discussion, @igordejanovic suggested two solutions:

1. pickle the parse graph,
2. generate the parse graph code as the parser code is a parser graph

[2017-09-02 16:25] igordejanovic commented on #41
After giving it some more thought I'm not sure anymore that parser serialization is worthwile. IMHO there are three incentives for serializing parser/metamodel (i.e. generating parser code):

1. Performance
2. Removing run-time dependency on textX/Arpeggio
3. Producing parser/metamodel for some other language

I haven't got any trouble with the first one. There is some overhead in constructing par

[2017-09-02 17:27] aranega commented on #41
Thanks for the new point of view. Actually, the idea is not to remove run-time dependencies from the generated code, but more to simply "drop" the grammar parsing (finally, a little bit like ANTLR). Regarding what you are exposing, it may not be such a good idea.

The final goal was more in the usage/dev. flow for the integration with PyEcore I'm experimenting. At the same occasion, I though it co

[2017-09-02 17:30] #41 closed, assigned to nobody

[2017-09-02 17:54] igordejanovic commented on #41
I think that generating user-classes (meta-model in Python code) would indeed be useful for textX. Probably that operation should be performed using a new textx cli command as it is a form of compilation.

Thus you could update your user classes when you change the grammar. But at run-time only one parse of the grammar is needed in order to reconstruct language parser and additional meta-model inf

[2017-09-02 17:58] igordejanovic opened #42 "CLI command to generate user-classes"
This idea came from @aranega ideas about parser/metamodel serialization and his current work on integrating textX and PyEcore.
See the discussion on issue #41

[2017-09-03 11:24] aranega commented on #41
Indeed, the "compilation" operation using a cli sounds less painful and more friendly. The PyEcore metamodel code generation should be easy using [pyecoregen](https://github.com/pyecore/pyecoregen) which provides all we need to do this.

I pushed my experiment on this repository https://github.com/aranega/textX. Please keep in mind that it is still in a early POC stage. Consequently, the 'merging'

[2017-09-03 11:55] igordejanovic commented on #41
Great! `pyecoregen` looks awesome. It sounds like a much better and more flexible approach. The initial experiment with PyEcore + textX also looks very promising. Making this support and dependency to be optional using a parameter would be awesome!

[2017-09-06 10:30] aranega commented on #41
Here is a little update about the experiments on textX + PyEcore.

The code is still dirty, but I have interesting results, and all the examples from the textX documentation seems to work (there is probably some catches). The hardest part is clearly the auto-identification of `EDataType` and `EEnum` like rules.

From what I currently have, I'm able to automatically create an Ecore metamodel from a

[2017-09-06 10:38] igordejanovic commented on #41
Amazing work Vincent!
This really opens a sea of possibilities.

[2017-09-06 15:08] aranega commented on #41
I opened an issue here https://github.com/pyecore/pyecore/issues/16 where I will continue to add the results of the POC.

[2017-10-05 03:19] tongorz opened #44 "How to parse whitespace sensitive grammar(Python-like) by textX？"
How to parse whitespace sensitive grammar(Python-like) by textX？

[2017-10-05 08:14] Aluriak commented on #44
I tried to achieve this few weeks ago, and it seems currently not possible.
My problem was to parse identifiers groups that are presented by line :

    A B C
    A D

Problem was that newlines are discarded/replaced by TextX, avoiding me to retrieve the two entities separatly (instead of a single one with 5 fields) without modifying the language to be parsed.
If you look at all examples presented

[2017-10-05 13:30] igordejanovic commented on #44
Right. There is no direct support for whitespace sensitive languages at the moment. #15 as @Aluriak noted is going to deal with this.

@Aluriak Your problem is different. What you can do is to disable whitespace skipping using `ws` [parser parameter](http://www.igordejanovic.net/textX/parser_config/#whitespace-handling) to redefine whitespaces or disable whitespace entirely using `skipws` param. Y

[2017-11-10 12:36] hallgrim opened #45 "Rules that only differ by their separator modifier does not parse"
I have a simple model:
[code]
I try to parse it with this meta model:
[code]
The meta model checks OK, but when I try to use it on the model above I get:
[code]

To reproduce:
[model.txt](https://github.com/igordejanovic/textX/files/1461309/model.txt)
and
[meta.tx.txt](https://github.com/igordejanovic/textX/files/1461315/meta.tx.txt)
and run
```textx check meta.tx.txt model.txt```

As far as I can

[2017-11-10 13:24] hallgrim commented on #45
I worked around this issue with an explicit separator in the rule:
From:
[code]
To:
[code]
This will capture the first value in the sequence, then an explicit separator and then the rest of the sequence.

[2017-11-17 12:27] Aluriak commented on #44
Ok, i retried, using the information you provides. It works now :)
Thank you a lot !

[2017-11-20 16:23] vjrasane opened #46 "ImportError: No module named metamodel"
Installing the latest version with pip does not seem to work anymore. After a fresh installation the following import fails:

from textx.metamodel import metamodel_from_file, metamodel_from_str

with the error:
ImportError: No module named metamodel

At first I thought it could be a configuration problem, but this has occurred on two separate machines.

Or maybe there has been a change in how the

[2017-11-22 16:29] fgsch commented on #46
Having the same problem. No issues with 1.5.2.

[2017-11-22 16:35] aranega commented on #46
On the last version, `metamodel_from_file` and `metamodel_from_str` can be directly imported from `textx`, this should do the trick.

[code]

Even if `textx.metamodel` still exists, this line from `__init__.py`: https://github.com/igordejanovic/textX/blob/d742a3fa0d0b535fdada7c9c44017851d3ef522f/textx/__init__.py#L2
imports `metamodel` from `textx.model` and thus hides the `metamodel` module (at l

[2017-11-22 19:11] igordejanovic commented on #46
There was a problem with the `1.6` build. The wheel I published was invalid. I've just released `1.6.1` which should fix the issue.

[2017-11-22 19:16] igordejanovic commented on #46
As @aranega noted `metamodel_from_*` can now be imported directly from `textx` module. The old way is still perfectly valid. That wasn't the issue here though.

[2017-11-22 19:32] fgsch commented on #46
@igordejanovic thanks, wfm now.

[2017-11-22 20:49] igordejanovic commented on #45
This is indeed an interesting example.
If you run the example in debug mode with:
[code]
you will notice that the second line, actually just a part `seq2: those` is parsed with `SequenceAnd` as it is perfectly valid from the standpoint of that rule. You can have only one element of `values`. Thus the rule succeeds and the parser expect next to see either a new Sequence or end of file which doesn't

[2017-11-23 01:07] borismarin commented on #37
See https://github.com/igordejanovic/textX/pull/47.

[2017-11-23 07:53] aranega commented on #46
@igordejanovic My bad, I didn't pay well attention to the error message. Indeed, you're right, no issues with the "old" way of importing the function! There is still a kind of "masking" when doing this:

[code]
But I'm aware this is probably not the best way of reaching the function. It still surprised a little bit at first.

[2017-11-23 13:03] igordejanovic opened #48 "Shadowing of metamodel module by the function from the model API"
This is an issue spotted by @aranega.
See [this comment](https://github.com/igordejanovic/textX/issues/46#issuecomment-346549723)

[2017-11-23 13:04] igordejanovic commented on #46
@aranega Yup. You are right. There is masking of metamodel module by a function of the same name which is a part of model API. I'll see to fix that in the next release. Issue #48 registered.

[2017-11-24 08:14] #46 closed, assigned to nobody

[2017-11-26 14:19] borismarin opened #49 "Refactoring ambiguous rule"
I have been using the following grammar
[code]
to parse data like
[code]
I am now trying to rewrite it without having to rely on newlines (`eolterm`) to separate each `Def`. I have been struggling with lookahead predicates to remove ambiguities, to no avail. Any ideas on how to implement that?

@igordejanovic is there a _textx_ mailing list or some other preferred place for posting 'help requests'

[2017-11-26 14:29] igordejanovic commented on #49
You can do this:
[code]
Notice the use of negative lookahead assertion in `Value`.

There is a google group for textX [here](https://groups.google.com/forum/?hl=en#!forum/textx-talk).

[2017-11-26 14:42] borismarin commented on #49
Thanks for the quick response - I guess it would be useful to have a link to the mailing list on the [README file](https://github.com/igordejanovic/textX/blob/master/README.rst), so that people like me will stop using issues to get help!

[2017-11-26 14:42] #49 closed, assigned to nobody

[2017-12-14 09:30] aalsinat opened #50 "Full unicode support"
I'd like to know how to parse full unicode string. `\w` is not enough for parsing lines like

I've been trying to use` /'regEx'/u`  or even ` \p{L} ` like in python but it doesn't seem to work.
Using string match, it works:

`address = '2785-599 São Domingo'`

But when the instance is created a new error arises:

`'ascii' codec can't encode character`

Appreciate your help.

[2017-12-14 14:06] igordejanovic commented on #50
textX uses Python `re` module for [regex matches](http://www.igordejanovic.net/textX/grammar/#matches). Whatever you can match using `re` module you can use in textX between slashes `/..../`.

Assuming you are trying to parse a file with multiple records like the one you provided you could do something like this:
[code]

Note that `input` text should be interpreted as unicode. textX accepts unicod

[2017-12-14 15:08] aalsinat commented on #50
First of all, thanks for your quick response! I forgot to tell you that I am using Python 2.7. With this version, using:
- `re.U`
- `re.UNICODE`

makes the `\w` sequence dependent on Unicode

[2017-12-14 17:58] igordejanovic commented on #50
For Python 2 you can do this:
[code]

Notice `(?u)` at the beginning of `name` regex match. This turns on the `re.UNICODE` flag for that match.
There is also `u` at the beginning of `input` unicode string.

There was a slight problem with printing exceptions on syntax errors with unicode chars in Python 2. It should be fixed now on the `master` branch so use that version.

[2017-12-14 18:07] aalsinat commented on #50
Great! Great job! Thank you **so much** for your help!

[2018-01-02 20:23] chris-hailstorm opened #51 "Existing DSL for JSON Schema?"
Textx is an outstanding tool, thank you.

Is anyone aware of a JSON Schema implementation in Textx?

[2018-01-03 14:43] igordejanovic commented on #51
I'm not aware of any project using textX for JSON Schema implementation.
It shouldn't be hard to define grammar for JSON Schema in textX. You can start with [JSON example](https://github.com/igordejanovic/textX/tree/master/examples/json).
Actually, JSON schema is JSON file so it can be parsed with any JSON parser (even textX JSON example) and validated and analysed afterwards. You could then extra

[2018-01-05 20:02] chris-hailstorm commented on #51
I use other JSON schema tools and they do work well.

However there are some domains that could be expressed better with a
combination of standard JSON schema and custom textx objects -- I was
hoping to combine the two.

Thanks

On Wed, Jan 3, 2018 at 9:43 AM, Igor Dejanović <notifications@github.com>
wrote:

[2018-01-05 20:50] igordejanovic commented on #51
Sounds interesting. Give it a try if you wish and post here if you get stuck along the way.
I'll be happy to help.

[2018-02-06 10:18] deeagle001 opened #53 "comment makes fail the correct language parsing"
I have the following model, which is sensitive to comment existence.
Whenever a comment exists, the parse fails to return the correct AST.

# Symptom 1

The model is the following:
[code]

I would like to parse a file like this.
[code]

What I expect, that all the capitalized word here catch as `keyword`.
Which is working well.

But, if I make a comment after the `ZERO` like this,
[code]
the behav

[2018-02-10 13:22] igordejanovic commented on #53
There was an error in Arpeggio in the comment parsing optimization. Namely, in parsing `cascading` rule `group` rule is tried first. That rule consumes all whitespaces as there is no `noskipws`. When `line` rule gets its turn parser sees only `ZERO ONE`, i.e. no comment in between. This is now fixed on Arpeggio master branch. Please use Arpeggio from `master`.

[2018-02-10 13:27] #50 closed, assigned to nobody

[2018-02-10 14:16] deeagle001 commented on #53
Thank you. I do appreciate your fast and great work.

Do you have any plan already, when to release this fix in Arpeggio and make it available via pip?

[2018-02-10 15:10] igordejanovic commented on #53
I've just publish a bugfix release. Let me know is it works for you.

[2018-02-11 14:42] #48 closed, assigned to igordejanovic

[2018-02-11 15:11] #37 closed, assigned to nobody

[2018-02-12 10:40] deeagle001 commented on #53
Hello.

I tried out, and it is almost good. :)
Fixes the actual problem, but losing regression.

Now, if I place a comment after curly brackets, the text throws TextXSyntaxError.
Like this:
[code]

[2018-02-12 14:59] igordejanovic commented on #53
Things get really tricky when `noskipws` explicit whitespace handling  is combined with implicit comments parsing.

What happens here is that `Line` rule starts with collecting whitespaces but comment match will happen before each other match, thus, you will have comment match (will not succeed), whitespace match (will succeed), comment match (will succeed), and than parser will try to match the n

[2018-02-13 13:51] igordejanovic commented on #53
Although, I think the last problem, with comments at the end, could be supported in the parser without much trouble. If multiple rules are tried at the end and if any of those rules (no matter what's their order) consume whitespaces (and comments) that parse should be accepted. I'll check on this idea.

[2018-02-13 16:14] deeagle001 commented on #53
Thank you for the suggestions.

I tried the `/\s*/*` approach, and it seems okay. I had to add one additional `/\s*/` after `lines` collecting rule you mentioned, and now I am unable to break it with any strange comments in the input and seems pretty stable.
The metamodel looks quite ugly with this decorations. [But that's a sacrifice I willing to make.](https://memegenerator.net/instance/66563438

[2018-02-13 18:04] igordejanovic commented on #53
Glad it works for you.

I understand your point but it's not that easy. The result of the parsing should be in accordance to the grammar and the parser interpretation of the grammar and its built-in rules. It would be the same as stating that the existence of whitespaces should not affect the result of parsing. Sure, but only if we handle those whitespaces either explicitly or implicitly.

When yo

[2018-02-13 18:09] igordejanovic opened #54 "Should comments be treated as whitespaces?"
textX/Arpeggio treat comments in a special way. More specifically, `noskipws` rule modifier will disable whitespace skipping but will leave comments skipping in place which [may lead to some gotchas](https://github.com/igordejanovic/textX/issues/53).

If comments should be treated like whitespaces than `noskipws` would mean *don't skip whitespaces **and** comments*. This would be a backward incomp

[2018-02-27 07:38] deeagle001 commented on #53
I found an additional issue, which is related to the solution/workaround you provided.

Maybe with your fix as well in Arpeggio 1.7.1.

`_tx_position` returns bad position for AST element. It merges the lines.
Yield line and column would be correct if the lines in the `noskipws` rule were merged together.

So the position not refers to the actual model input, but for some kind of prepared model, w

[2018-02-27 12:45] igordejanovic commented on #53
Thanks for the report. Yeah, separate issue that links to this one would be better for tracking.
Could you please provide a small test example that manifest the bug?

[2018-02-28 08:32] deeagle001 commented on #53
During writing the issue description, I figured out it was my fault.
I failed to put `-` sign after `/\s*/`, which caused, that the preceding whitespaces including line breaks were part of the rule match.

Sorry for that!

Now everything works fine.

[2018-03-18 14:16] jhrmnn opened #58 "Proper treatment of linebreaks"
I'm dealing with a language where the end of line has a meaning (Fortran). Naturally, there is a mechanism for including a linebreak (using the `&` character). Currently, I deal with this by including `& *\n *` as a possible `Comment`. This works great, but I was wondering if this approach has some potential catches, or if there is a better way to do this. I feel that a linebreak is more like a wh

[2018-03-18 21:51] igordejanovic commented on #58
Yes, handling of whitespaces/comments is probably something that I should have done better. :)

At the moment they are handled in a similar fashion. I planed to keep comments and let the user access it somehow at they might contain useful information. Arpeggio keeps them on the next parsed object but I still haven't published that part of the API for general consumption. Whitespaces are defined as

[2018-03-18 23:56] jhrmnn commented on #58
Thanks for the detailed answer! I think this can be closed now.

[2018-03-18 23:56] #58 closed, assigned to nobody

[2018-03-19 10:36] jhrmnn opened #59 "Incorrect edge case in treating escaped characters in quoted strings"
I believe that the following is parsed incorrectly:

[code]

In my understanding, `\\` should be interpreted as a single backslash, the following `'` should terminate the string, which should leave the hanging ` a'` as non-parseable. At least that's what Python does.

[2018-03-19 10:41] jhrmnn commented on #59
Er, sorry, this should have gone to Arpeggio, I guess.

[2018-03-20 07:57] igordejanovic commented on #59
No problem. :)

Yes, It seems that you are right. I'll have to do some more investigation.

[2018-03-22 17:46] Aluriak commented on #54
Whitespaces and comments are different things. Why handling them as the same object ? Is it not simpler (user-side) to have options for both ? `noskipws` would retain his actual meaning, and `commentaswhitespace` would allow for both behaviors.

Note that in most languages, comments are handled per rule. This is an example in C, where two comments have different side-effects:

    int main() {

[2018-03-22 18:30] igordejanovic commented on #54
Can you elaborate more on this please. Not sure that I follow.

If I understand the example with C you are implying that comment between `a` and `b` breaks the identifier. That happens also if you put whitespace at that position. So, is there any difference in handling. I agree that comments and whitespaces are different in a sense that comments provide some useful information to the reader (and A

[2018-03-28 09:27] deeagle001 opened #61 "__version__ is not available"
Python modules have a convention to have a `__version__` variable from the top level module.

This helps to recognize the version of the module, as there is no other way to do this in an environment without pip.

From version 1.6.1, textX has no such.

[2018-03-29 11:51] deeagle001 opened #62 "'*' character after '/' in metamodel is ambigous"
Hello,

### Symptom

I faced the problem, where the metamodel became invalid after I modified an unused rule to be similar to another one.

I used the following base metamodel:
[code]
This works flawlessly.

I appended some valid decoration to the unused rule like this:
[code]
Parsing the metamodel became broken as it is claiming, that this language is invalid.

### Assumption

I assumed the follo

[2018-04-21 07:21] igordejanovic commented on #62
Good catch. Interesting corner case. Thanks for the report.

[2018-05-02 12:33] igordejanovic opened #64 "Obj. processor should be able to replace object entirely"
This would enable all sorts of additional functionality in a way similar to Arpeggio's visitors or parglare's actions. In addition object processors would replace current functionality of `match filters`.

[2018-05-03 12:10] gborghesan opened #65 "is it possible to divide the model file in two files, one containing the a model and the other a reference to that model?"
Iam considering a case that is analogous to the entity-person example.
I am looking at a language for robot programming with skills

I would like to have a metamodel of the Skills** and Skill Types in a file (**tasks_specification.tx**)

    Skill: 'skill' name=MY_ID '{'
      'type' '=' type=[SkillType]
      ('properties' '{' properties+=Property '}')?
    '}'
    ;
    SkillType: 'skill_type' n

[2018-05-03 14:11] igordejanovic commented on #65
Here is one way how to do it:

- task_specification.tx
[code]

- assembly.tasks
[code]
- assembly_car1.prog
[code]

And finally the test that show how it is loaded:
[code]

There are other ways. Maybe @goto40 could suggest some better way. :)

[2018-05-03 19:05] goto40 commented on #65
Hi!
The example given above is perfect!

Basically, you have four build-in choices for the problem (see http://www.igordejanovic.net/textX/scoping/), depending on the name lookup you wish (global names "MyName" of fully qualified names "namespace1.namespace2.MyName") and the way you make other model parts from other files visible in your model (implicit include "*Global*" or explicit include "*Imp

[2018-05-04 06:07] igordejanovic commented on #65
I forgot to mention that these features are available in the development version only (`master` branch), i.e. not released yet.

[2018-05-04 06:13] igordejanovic commented on #31
This is resolved by recent @goto40 work (available on `master`). See http://www.igordejanovic.net/textX/multimetamodel/

[2018-05-04 06:13] #31 closed, assigned to nobody

[2018-05-24 10:22] gborghesan commented on #65
dears, sorry for late answers (other deadlines incoming)
thanks for the very exhaustive answer
i did not delve into the addendum of @goto40 yet, but i have a comment/question on the example:
The one posted is of course a MWE, the metamodel has more syntax, so, once i added something like
[code]
it did not work anymore. My understanding from the errors is that both files
- `assembly.tasks`
- `assem

[2018-05-24 13:59] gborghesan opened #66 "It is possible to set a search path for scope providers?"
Dears, a question still related to [the previous issue](https://github.com/igordejanovic/textX/issues/65)

I have the following python code
[code]
the metamodel is:
[code]
in `assembly_car1.prog`, I import the skill files
[code]
that are in the `lib` folder. It is possible to specify the folder (s) in the python script? My idea is to set an environmental variable where lookup for such files.
I see

[2018-06-04 14:59] antoinet opened #67 "pos_to_linecol broken in textX-1.7.0"
Hello Igor,

I am using `pos_to_linecol` to get line and column numbers to create human readable feedback when a parsing error occurs. Migrating from 1.6.1 to 1.7.0 I encounter the following error, using the sample code below:

[code]

And the error is:
[code]
Seems to be a problem in arpeggio?

[2018-06-04 15:05] goto40 commented on #65
Sorry. I was not online last week. I will check your comment the next
days...

Gianni <notifications@github.com> schrieb am Do., 24. Mai 2018, 12:22:

[2018-06-04 15:31] igordejanovic commented on #67
Hi Antoine,

thanks for the report. This seems to be a problem introduced with multi-model support. Meta-model parsers are now cloned to parse each file/string, so caching of `line_ends` used to speed up later finding of object position broke as the input is not parsed with the `mm.parser`. I think that the best solution is to use parser reference from the model instead like this:

[code]
as the p

[2018-06-04 15:44] igordejanovic commented on #61
Fixed in version 1.7.0

[2018-06-04 15:44] #61 closed, assigned to nobody

[2018-06-04 15:46] igordejanovic commented on #64
This is implemented in 1.7.0. See [the docs here](http://www.igordejanovic.net/textX/metamodel/#object-processors).

[2018-06-04 15:46] #64 closed, assigned to igordejanovic

[2018-06-04 21:25] antoinet commented on #67
Thanks, it works like you described.

[2018-06-05 17:21] goto40 commented on #67
I will have a look

[2018-06-05 18:49] goto40 commented on #65
Hi.
I am not sure if I understood the correct aspect of your question - so do not hesitate to give me a hint what aspect you would like to have clarified in more detail.

For what I see you have multiple options:
 * You can use your solution where you have one single meta model for every model file. In this case all model files must conform to the meta model (***I confirm your comment***).
 * You

[2018-06-06 05:52] goto40 commented on #64
Is it possible to register a list of object processors for one rule? The order of execution is defined by the order in the list?

Purpose: multiple validators.

[2018-06-06 15:38] igordejanovic commented on #67
Closed via #68

[2018-06-06 15:38] #67 closed, assigned to nobody

[2018-06-07 13:17] goto40 commented on #66
The glob.glob supports recursive globbing, but not for all python versions (see https://docs.python.org/3/library/glob.html). It is not suitable for your search path idea (as far as I understand it).
I suggest a pull request now to support your idea (please check).

[2018-06-07 13:22] goto40 commented on #66
Pull request #69

[2018-06-09 10:07] goto40 commented on #51
You can easily reference an arbitrary non textX object (e. g., from a json model) from a textX model. Maybe have a look at https://github.com/igordejanovic/textX/blob/master/tests/functional/test_scoping/test_reference_to_nontextx_attribute.py

[2018-06-10 20:25] sebix opened #70 "No 1.7.0 release on github"
While the version has been published at pypi, I miss the release here, not even a tag exists.

Please add them, thanks!

[2018-06-13 13:11] igordejanovic commented on #70
Ooops, sorry. Forgot to push the tag. It is done now. Thanks for reporting!

[2018-06-13 13:11] #70 closed, assigned to nobody

[2018-06-20 15:17] akiannillo opened #72 "Regression issue"
I have this snippet of code
[code]
working perfectly in version _1.6.1_. Now, in version _1.7_, the processors are not called at all.

[2018-06-21 15:05] zilakmarian commented on #72
I am having some problems with object processors too since switching to version 1.7.
Simple object processors are being run as expected. But when using more complex object processing sometimes they never start.
In object processor I am parsing another string using same metamodel and based on result changing object being processed.
In version 1.6.1 order of function calls is:
[code]
And in version

[2018-06-21 18:51] goto40 commented on #72
@akiannillo: Could you provide a sketch of you custom "Attribute"-Python class? Do you modify the object in the processor, if yes, how?

[2018-06-22 08:42] akiannillo commented on #72
@goto40 : the class is very simple
[code]
Even using a simple processor just to print out a debug message, it does not start at all.

[2018-06-22 13:31] goto40 commented on #72
Hmm... I tried to setup a test to reproduce the effect. The test seems to be too simple. If you have time I would greatly appreciate more code to get the error.

[2018-06-22 13:48] zilakmarian commented on #72
I've hacked together some ugly code that can replicate this problem. I tried this with python2.7.15 and python3.6.5.
[code]
In grammar2, object processors are called as expected.
In grammar1, object processor of InnerObject is never called.
The problem here is somewhere in resolving rule BreakingObject.
Hope this helps.

edit: I just realized the snippet could have been simpler. Custom classes hav

[2018-06-22 14:40] goto40 commented on #72
Thank you for the example. I can replicate the error now.

[2018-06-22 14:48] zilakmarian opened #73 "Boolean assignment '?=' in ordered choice '|'"
I was reviewing my code and found something I'm not sure how should work.
I used boolean assignment as one possible value for ordered choice.
Example:
[code]
First two strings are parsed as expected. Either boolean value is set to True and empty items list, or boolean value is False and non empty item list. And this is exactly, what i want.
I feared that this would also allow boolean False AND emp

[2018-06-30 09:04] igordejanovic commented on #73
Yes, you are right. Alternatives in ordered choices are tried from left to right and the first one which succeed is chosen. Boolean assignments are considered unsuccessful, if there is no match, from the point of ordered choice so the search continues with the next alternative. In this example you could either make entire ordered choice optional, or use `*=` for items.

The underlying Arpeggio cod

[2018-06-30 09:06] igordejanovic commented on #72
@goto40 fix is merged. @akiannillo @zilakmarian Please test with the master branch.

[2018-07-02 09:06] zilakmarian commented on #72
Tested it and works. Issue seems to be resolved.

[2018-07-02 11:19] igordejanovic commented on #72
Excellent. I've released a new bugfix version on PyPI.
closed via #74

[2018-07-02 11:19] #72 closed, assigned to nobody

[2018-07-06 20:57] sebix opened #76 "Test fail"
I see the following test fail on a build system:

[code]

This is the complete list of packages/versions installed on this system:
[code]

I do not know what causes this issue. I do get the same error for 3.6 also. If I can help with more (debugging) output) let me know.

[2018-07-07 07:55] igordejanovic commented on #76
Hi @sebix. You have a very old version of  Arpeggio, please upgrade to 1.8.0.

[2018-07-07 08:06] sebix commented on #76
Ok, please add the minimum required version here: https://github.com/igordejanovic/textX/blob/master/setup.py#L50

[2018-07-07 08:18] igordejanovic commented on #76
Yes, we definitely should add it.

[2018-07-13 16:30] #76 closed, assigned to nobody

[2018-07-20 20:32] goto40 opened #78 "obj_processor call logic effect: attributes/base classes not processed"
in model.py, call_obj_processors:

metaattr in metaclass._tx_attrs.values() is empty. Therefore attributes of specialized classes are not processed by obj_processors...

The following snippet fails (it does not process the object processor of "TestObj", because of the effect sketched above.

Note:
 * Possible solution: use the attributes found in the model element instance instead of the metaclass

[2018-07-25 20:20] goto40 commented on #78
solved in PL #79

[2018-07-25 20:20] #78 closed, assigned to nobody

[2018-08-09 15:26] zilakmarian opened #80 "Object processors in rules using assignment with mixed objects"
This is linked to issue #72, which looked like it was resolved. But I have found a more complex set of rules that do not work in release 1.7.1 (with #72 fixed), both with python2.7.15 and with python3.6.5.
In release 1.6.1 it works as expected only with python2. Release 1.6.1 with python3 behaves weirdly.

Example code:
[code]

What breaks processors in major way is rule `Formula` which uses assig

[2018-08-14 12:05] igordejanovic commented on #80
Thanks for a detailed report. There has been some recent work on object processors call by @goto40 on #79. That work is not released yet but is merged on master.
I did a quick test and it seems that your example works correctly for both python 2.7 and 3.6.
Could you test with the current master?
BTW, thanks for the test. I'll incorporate it in the set of unit tests so we will let CI run it for all

[2018-08-20 14:42] igordejanovic commented on #66
@gborghesan Is the @goto40 fix on the `master` branch now works for you?

[2018-08-21 13:58] zilakmarian commented on #80
Pulled master, ran the code i posted and it works as expected in python 2.7.15
But in python 3.6.5 it does not. In `grammar1` and `grammar3` processors for rules `FormulaExpression` and `bar` are still not called correctly.
I start to wonder, maybe my code snippet is flawed for python3.

But as long as it works for python2, I'm content and can call this issue resolved.

[2018-08-24 06:19] fgro93 opened #81 "Encoding is lost when using Multi meta-model"
I have model (meta-model A) which imports models of another meta-model B. Model-Files of model B do not work with `utf-8` and used encoding is lost.

I assumed the encoding would be propagated.

[code]

[2018-08-28 13:34] fgro93 opened #83 "How to ensure imported objects are resolved?"
Files/Code can be found here: https://github.com/fgro93/textX-Problem

I have the following multi meta-model:
`FModel.tx`
[code]
`IModel.tx`
[code]

And three model files:
`main.fmodel`
[code]
`hasPort.fmodel`
[code]
`ports.imodel`
[code]
My python code:
[code]

Problem arises in the PortFQN. I thought I can simply resolve the `Port1` by using the object references I already have in my `Component

[2018-08-28 19:47] goto40 commented on #83
Try

[code]

You must return a Postponed object when you need to postpone reference resolution because dependencies need to be resolved first.

Note: with the code above your example runs on my computer without aborting with an error. No additional checks were made.

[2018-08-28 20:15] goto40 commented on #83
Hi - I am not sure if I got all the details...

I just tried to check the rest of the code:
 * Having a Prototype with optional name may cause problems, when referencing this object.
 * Objects without name cannot be referenced without extra-effort.

It may be clearer to find another solution.
If there is an unnamed prototype, then the name must be identical to the component --> in this case a cus

[2018-08-28 20:16] goto40 commented on #83
I am looking forward to discuss some alternatives to your model...

[2018-08-29 08:34] fgro93 commented on #83
Hey,
thank you very much for your answer, I didn't know about Postponed object, I should have read the documentation more carefully. Sorry about that.

For the sake of completeness, this is the error I get running my original code:
[code]

I cannot change much of my model because it's actually a xtext model which I translated to textX.

Highly appreciated your help! Thank you. I will stick to cust

[2018-08-29 10:02] goto40 commented on #83
I will have a look at it.

fgro93 <notifications@github.com> schrieb am Mi., 29. Aug. 2018, 10:34:

[2018-08-29 10:08] fgro93 commented on #83
The Postponed approach worked for me

[2018-08-29 16:05] goto40 commented on #83
Ok.
Here another suggestion: use the new referenced_metamodels feature.

See: https://github.com/igordejanovic/textX/blob/master/docs/multimetamodel.md

[code]

new model file (as example):

[code]

[2018-08-29 16:17] goto40 commented on #83
Note:
 * the referenced_metamodels-feature is only available on the master branch. But I think it is superior to your initial solution (see https://github.com/igordejanovic/textX/blob/master/docs/multimetamodel.md for a rationale)
 * if you need the model of an object you can call textx.get_model(obj) instead of jumping from parent to parent

If you want to 'migrate' your solution to the reference

[2018-09-02 19:23] #81 closed, assigned to nobody

[2018-09-02 19:25] goto40 commented on #81
Can you test if the master works for you now?

[2018-09-03 07:52] igordejanovic opened #87 "Multi-version documentation"
The user should be able to browse the docs for a particular version. This is especially important during working on development version docs. It should be accessible through the main docs site while still defaulting to stable released version.

There is a nice addition to mkdocs to enable this. See [here](https://github.com/mkdocs/mkdocs/issues/193) for the discussion. [this tool](https://pypi.org

[2018-09-04 12:13] fgro93 commented on #83
Thanks again for your input.

The referenced_metamodels-feature does not improve anything for me because in my actual grammar, fgrammar uses some rules of igrammar. Without the import an `Unexisting rule _____ at position (?, ?).`-Error will be thrown.

[2018-09-04 18:21] goto40 commented on #83
OK.

 * w/o Import you need the referenced_metamodels thing, else you get the
error.

 * if you use some rules in both meta models, take care to allocate any
relevant scope providers or object processors to **both** meta models.

We can now close this ticket.

fgro93 <notifications@github.com> schrieb am Di., 4. Sep. 2018, 14:13:

[2018-09-04 18:22] #83 closed, assigned to nobody

[2018-09-04 18:24] goto40 commented on #80
Since the unit test mimics the code above and runs w/o errors we could maybe close this ticket.

Any concerns? We can reopen the ticket if the error comes up again...

[2018-09-05 09:59] igordejanovic commented on #80
Agreed. Closing.

[2018-09-05 09:59] #80 closed, assigned to nobody

[2018-09-05 18:11] goto40 commented on #65
See https://github.com/igordejanovic/textX/blob/master/docs/scoping.MD how to split the model across files (e.g., using the ImporURI class) .

If you wish to reference elements from other models with different meta models, have a look at https://github.com/igordejanovic/textX/blob/master/docs/multimetamodel.md.

Is your problem solved with this?

[2018-09-08 21:11] igordejanovic commented on #87
Implemented using [mike](https://github.com/jimporter/mike)

[2018-09-08 21:11] #87 closed, assigned to nobody

[2018-10-05 10:22] approxit opened #88 "obj_processors not working without full assignment chain"
**Textx version:**
[code]

**Python version:**
[code]

**Minimal example:**
[code]
**Expected results:**
[code]

**Actual Results:**
[code]

**Problem:**
As example shows, `obj_processors` is not called when there is no direct assignment chain. Of course `Collection` in real life would contain more syntax, but its make no difference in this case. Need for `Collection` is required since in assignme

[2018-10-05 11:17] igordejanovic commented on #88
Hi @approxit. Thanks for the report.

I don't think this to be a bug. It should be the expected behavior. The reasoning behind is that `Collection` is recognized as a [match rule](http://www.igordejanovic.net/textX/latest/grammar/#rule-types) so it shall return string unless explicitly converted by obj. processor. So, to achieve desired behavior you should register the same object processor for bo

[2018-10-05 14:07] approxit commented on #88
You're right. `Collection` represented as single rule is handled as match rule (because with all referenced subrules are match rules - as docs points). So `2.0` fragment could be moved up to the `Collection` rule, which is not in `obj_processors`. Cleanly not working.

Lets change `Collection` rule type then.

[code]

Now, referring to docs, `Collection` should be an abstract rule, which should be

[2018-10-05 14:34] igordejanovic commented on #88
Yup, you are right but the problem seems to be resolved by @goto40 in PR #79, at least your first example in the previous comment works for me with `master` version. Could you verify?

This fix, together with some other improvements in multi-meta-model support will arrive with 1.8.0 version which should be released soon. For the time being, please use `master` version.

[2018-10-06 09:55] igordejanovic commented on #88
Version 1.8.0 is released on PyPI. Please check if it solves the problem and feel free to close this issue if it does or comment further if you still experience problems.

[2018-10-08 12:53] approxit commented on #88
1.8.0 fixes the problem!

@igordejanovic, @goto40
Thanks for fast feedback and your work, guys!

[2018-10-08 12:53] #88 closed, assigned to nobody

[2018-10-15 14:51] ghost opened #89 "Breaking API changes"
It seems that in version 1.7.0 there are changes breaking the compatibility with the previous version (certtools/intelmq#1246).

The specific error that we get is:

Maybe `textx.model.metamodel()` is now `textx.model.get_metamodel()`

And then

(and probably more)

Is there a stable API which can be used? Is there a list of removed methods with their corresponding replacements?

[2018-10-15 16:10] igordejanovic commented on #89
Hi @wagner-certat. Thanks for the report.

We are trying to keep API as much stable as possible but backward compatibilities creep in occasionally which should be noted in changelog. If not, that is a bug. Version 1.7.0 was a release with a lot of changes so we might miss to list some in the changelog. BTW, there is a bugfix release 1.7.1 so I suggest you to go for that version although I don't th

[2018-10-15 16:19] igordejanovic commented on #89
There are breaking API changes from issue #48 that seems not registered in the changelog. Will fix it. That is the first part of the problem. But for the second would need more input.

[2018-10-15 17:44] goto40 opened #90 "model-to-text"
Possible new feature:

The inverse function (model-to-text) in addition to model_from_file would allow to use textx as a natural data de/serialization for any application.

It remains open if an existing model file structure and/or comments should remain in some parts when writing back a (possibly modifed) model.

Some details concerning object processors changing model aspects need to be discusse

[2018-10-15 17:57] igordejanovic commented on #90
Agreed. That would be very useful. There has been some discussion on #36.

[2018-10-15 18:31] chuiii opened #91 "Function model_from_string() returns empty string"
To reproduce:
[code]

[2018-10-15 18:43] igordejanovic commented on #91
I haven't tested it but `Comment` is a rule with a special semantics. See [here](http://www.igordejanovic.net/textX/latest/grammar/#language-comments). Try to rename it, that should fix your issue. If you are trying to implement comments for your language, that is already supported by textX. Please read the referenced section.

[2018-10-15 19:20] goto40 commented on #90
double issue --> see #36

[2018-10-15 19:20] #90 closed, assigned to nobody

[2018-10-16 08:06] chuiii commented on #91
You are right.
I'm really sorry about posting the issue now. I should read docs carefully.

[2018-10-16 08:06] #91 closed, assigned to nobody

[2018-10-16 08:32] igordejanovic commented on #91
@chuiii No problem :)

[2018-10-16 11:54] ghost commented on #89
I re-tested it with the current 1.8.0 release, but it was also a problem with 1.7.1.

Great to hear :)

The Arpeggio version is the recent one, 1.9.0.

The (relevant part of the) traceback from the linked issue:
[code]
With this code we want to get the position of a rule in the model.

Our full code is here: https://github.com/certtools/intelmq/blob/maintenance/intelmq/bots/experts/sieve/expert.py

[2018-10-16 12:07] ghost commented on #89
Using
[code]
gives
[code]

[2018-10-16 15:48] goto40 commented on #89
I am pretty sure I spotted the problem: for multi
file models we had to instantiate one parser per model. The parser of the
meta model is only a blue print.

You need to

 * use "model_obj._tx_parser"
 * instead of the "metamodel._parser"

See #93 for more clarification.
See also http://www.igordejanovic.net/textX/stable/metamodel/

"""
When parsing a model file or string a new parser is cloned fo

[2018-10-16 17:17] ghost commented on #89
Getting the parser with `parser = model_obj._tx_metamodel._parser` and calling `parser.pos_to_linecol(model_obj._tx_position)` gives me:
[code]
That's the same error that @antoinet faced when debugging this issue.

BTW:
I may seem like I am reaching out for help to fix our own code. While this is partly true, I hope that the backwards compatibility and docs can be improved with this procedure.

[2018-10-16 17:27] igordejanovic commented on #89
What @goto40 suggested it to access the parser via the model object, not metamodel. Try `parser = model_obj._tx_parser`. The parser on the metamodel is just a prototypical instance used to create new model parsers. That's why it lacks `line_ends`.

No problem. Thanks for reporting. There was indeed missing pieces of information in the changelog.

[2018-10-16 17:50] ghost commented on #89
Then I get
[code]

Yeah, I have seen you added the `.metamodel` -> `.get_metamodel` change here 3fcfc9efc68687d49d8026eb9e3f3d438ee81171

[2018-10-16 18:05] goto40 commented on #89
Hello,

Is your model_obj a model or a object inside a model? It seems to me, from your code, that it is an arbitrary object in the model.

Then you need to use: get_model(model_obj)._tx_parser

I am sorry for this inconvenience...

[2018-10-16 18:42] ghost commented on #89
Thanks! The final solution is now:

* post 1.7.0:
`parser = textx.model.get_model(model_obj)._tx_parser`
* pre 1.7.0:
`parser = textx.model.metamodel(model_obj).parser`

[2018-10-16 18:42] #89 closed, assigned to nobody

[2018-10-23 16:08] alensuljkanovic opened #95 "Bad link in "Multi meta-model support" section"
Link for tests/test_metamodel/test_multi_metamodel_refs.py. causes 404.

Link can be found in the paragraph that starts with "Referencing elements from another meta model".

[2018-10-23 16:10] alensuljkanovic commented on #95
Same link is used in the first use-case.

[2018-10-23 16:42] goto40 commented on #95
Hello Allen,

Thank you for the feedback.

Until we fix this, here the correct link:
https://github.com/igordejanovic/textX/blob/master/tests/functional/test_metamodel/test_multi_metamodel_refs.py

Alen Suljkanović <notifications@github.com> schrieb am Di., 23. Okt. 2018,
18:15:

[2018-10-23 17:09] alensuljkanovic commented on #95
Hello,
You're welcome. I'm familiar with most of the textX source code, so I found a test straightaway. :)

[2018-10-28 15:20] #53 closed, assigned to igordejanovic

[2018-11-03 16:47] Geniedesalpages opened #96 "object_processors do not run on rule"
I have simplified my grammar to reproduce a bug in object processors:

[code]

The ExplicitFloat is not changed to a float and remains str. If the ExplicitFloat appears "higher" in the syntax tree of the grammar, then it occasionally translates it. Am I doing something wrong, or is there a bug in the object processors?

[2018-11-03 17:52] goto40 commented on #96
Thank you for your investigation. I think you need to assign the explicit float object to an attribute, e.g., value=ExplicitFloat.

With this change, your program works for me:

 * Grammar change: Parameter: value=ExplicitFloat
 * assert change: assert isinstance(first_param.value, float), f"first parameter is of type {type(first_param)} instead of float"

Note, that we had some issues with object

[2018-11-04 09:32] goto40 commented on #96
Note: The rule Parameter is a match rule in my eyes, as ExplicitFloat is... Thus, I assume, the nested match rule ExplicitFloat is not instantiated...

A related unit test which may help as a workaround is https://github.com/igordejanovic/textX/blob/master/tests/functional/examples/test_modeling_float_int_variables.py.

[2018-11-04 09:56] goto40 commented on #96
We need to clarify how object processors apply to match rules, especially for nested match rules.

[2018-11-04 10:40] Geniedesalpages commented on #96
Thank you for your quick reply!

By changing it to have value=ExplicitFloat in the grammar, i managed to run the above example. In my original grammar (which is more nested and has more intermediate steps) this approach works in some cases but not in others, I couldn't pin down the error as of yet (I am using 1.8.0 for reference).

Is the object processor not applied right after the instantiation

[2018-11-04 14:53] igordejanovic commented on #96
In my view this is expected behavior, but maybe a docs need more clarification. There are [three types of rules](http://www.igordejanovic.net/textX/stable/grammar/#rule-types). Match rules always produce a string unless explicitly processed by obj. processor. In this case (as @goto correctly observed)  `Parameter` is a match type rule so it will produce a string unless there is obj. processor for

[2018-11-04 15:10] igordejanovic commented on #96
Seems that I managed to reproduce a problem with obj. processor calling for match rules.

In this example:

[code]

`Parameter` rule is a common rule and thus `ExplicitFloat` obj. processor should be called, but apparently with `1.8.0` it is not. Notice also the use of `Parameter` obj. processor which unpacks the `value` attribute if you want to have a nicer AST, i.e. you don't want for parameters

[2018-11-04 15:28] Geniedesalpages commented on #96
Thanks again for the detailed reply, `'Parameter': lambda x: x.value` is a nice idea!

What I find a bit unintuitive is that Parameter (without the value=..) does apparently not act as a fall-through, and hence wouldn't trigger the object processor, even when after bug-fixing the above? As far as I understand, it also only transforms strings to something else. Wouldn't it be more powerful if it co

[2018-11-04 15:42] igordejanovic commented on #96
Yup, I understand your way of thinking but if we do a fall-through than there would be a consistency problem as match obj. processor at higher hierarchy level could actually get a non-string objects.

Imagine this ill designed example:
[code]
This should match `+` sign and float afterwards, but what should be returned from this rule? And, what should eventual `Parameter` obj. processor get as it p

[2018-11-04 16:04] Geniedesalpages commented on #96
Ah ok i see the issue, that makes sense!

[2018-11-04 17:32] goto40 commented on #96
I am not so happy with replacing a rules' outcome with an object processor, when the inner values of the rule instance is also affected by an object processor:

	'Parameter': lambda x: x.value

The problem is, that the order of object processor execution needs to be specified for that (e.g., first transform the value inside "Parameter", then transform "Parameter").

[2018-11-04 17:34] goto40 commented on #96
I was not aware, that we can assign different types to an attribute (value in rule Parameter). Is the metaclass correctly assigned in that case?

[code]

[2018-11-05 08:09] igordejanovic commented on #96
It is perfectly safe for match rules as their obj. processors must finish before the assignment to the referencing attribute is done. As a side note I think the order should be predetermined for all "embedded" (non-referenced) objects as we need the contained objects to be already processed to be able to do processing on the current object (transform/replace etc.). The order should be bottom-up.

[2018-11-08 09:45] approxit opened #97 "Built-in NUMBER can't return INT type"
**Textx version:**
[code]

**Python version:**
[code]

**Minimal example:**
[code]
**Expected results:**
[code]

**Actual Results:**
[code]

**Problem:**
As example shows, `NUMBER` built-in rule returns always `float` value. As `NUMBER` built-in rule is not documented, and not discouraged in source code, there is not obstacle to use it.

It matches `FLOAT` first, then `INT` as [it's definition sta

[2018-11-12 16:57] goto40 commented on #95
Hi,
I fixed the link: See https://github.com/igordejanovic/textX/blob/master/docs/multimetamodel.md

[2018-11-12 17:03] goto40 commented on #97
Thank you for your analysis!

The problem is/was, that a FLOAT also pares an INT. With the parser we employ we have an issue here.

We discussed the problem and introduced a STRICTFLOAT (which does not match an INT) as workaround. A number is now an INT or a STRICTFLOAT.

The original FLOAT rule remains unchanged (but is not a NUMBER any more). We adapted the docu to make the changes clear.

(Deta

[2018-11-13 11:15] approxit commented on #97
That's awesome, guys! `STRICTFLOAT` would be actually handy, nice to have this one.
..and my 5-second-idea for only changing parsing order was totally wrong...

I could close this issue, but current state of docs is confusing for me.
As @igordejanovic [mentioned](https://github.com/igordejanovic/textX/pull/98#issuecomment-437178853), current images of `NUMBER` is not reflecting the actual "inherit

[2018-11-13 19:33] goto40 commented on #97
Thank you for your in-depth review! This really helps getting the things right.

Maybe you could have a look at #100 to see if the changes described there are clear to you. I greatly appreciate any further hints...

[2018-11-13 20:28] sebix opened #101 "Examples not reproducible because of exports"
Hi,

currently the documentation/examples of textX is not [reproducible](https://reproducible-builds.org/) because the export of the robot example contains some kind of random(?) identifier:

Here's a diff between two builds:
[code]
Would it be possible to make the export deterministic?

[2018-11-14 07:10] dkrikun commented on #54
Please do not treat comments as whitespace:

1. Sometimes whitespace is significant (e.g. python) but comments aren't
2. Sometimes comments are significant and need be preserved -- aka docstrings in python, but whitespace isn't

[2018-11-14 07:18] dkrikun opened #102 "Add import usage in entity example"
Please exercise scoping in entity example. I would love to see how one can import entity files one from another. IMO, it is something almost everybody designing a DSL will want to have.

[2018-11-14 08:48] dkrikun opened #103 "Import like in python?"
Hello,

I would like to have an import mechanics similar to python. In particular, I would like to have the imported module name act as a namespace. For example:

[code]

[code]
So I've put the 'ImportFQN' provider for '*.*', but the name is still resolved as 'a' and not 'base.a'.
I do not understand what the FQN providers consider for valid prefixes when resolving a name.

Related to this, could

[2018-11-14 08:54] dkrikun commented on #36
This could also be helpful in code-generation, if one would like to preserve (some of) whitespace and formatting from the source code

[2018-11-14 09:33] igordejanovic commented on #101
Hi @sebix. For identifiers in exported dot files `id` function is used which returns a unique identifier of Python object and is implementation specific (usually related to the address in memory), so yes it changes from run to run. My question is what are you trying to achieve? Examples are not part of the build, at least they shouldn't be.
In order to ids in dot files to be deterministic we would

[2018-11-14 09:38] igordejanovic commented on #102
Definitely agree on this. :)  Would be nice to have a complete example/tutorial with imports and scoping. It would make multi-(meta)-model and scoping features more visible to the users.

[2018-11-14 10:51] goto40 commented on #102
Maybe this unittest could be migrated to the examples folder?
test_multi_metamodel_types_data_flow1

In

https://github.com/igordejanovic/textX/blob/master/tests/functional/test_metamodel/test_multi_metamodel_refs.py

Am Mi., 14. Nov. 2018, 10:38 hat Igor Dejanović <notifications@github.com>
geschrieben:

[2018-11-14 11:01] goto40 commented on #103
At the moment all includes are flat. The current importuri scope providers
are not capable of fulfilling your needs.

I see different possibilities of introducing your requirements into the
scope provider design. I would like to take my time to write them down and
to discuss them.

Thank you for the idea.

Note: the rule containing the importuri field contains also the imported
model. With a custo

[2018-11-14 12:40] dkrikun commented on #102
@goto40 I'm sorry, I am new to textX and it is quite understandable and "just works", but scope providers feel like "black magic" and it is not very clear from the test code how they work and what to expect. A simple example of how to implement scoping/import mechanism would be great :)

[2018-11-14 13:57] igordejanovic commented on #102
Probably we should start with multi-model and scoping tutorial. I agree that entity example would be a good fit at it should be familiar to beginners and shows a small but complete example with code generation. I would like to take on this one but probably won't be able in a next month or so.

After that we could make a more complex tutorial/example with a multi-meta-model support. There are many

[2018-11-14 17:55] goto40 commented on #103
I think it is not so difficult. As mentioned in the note above, nearly all information is available. I will setup a unittest to clarify the needs and make a small demo. We can discuss it then...

In particular:
  * Import "folder_a/folder_b/file.ext" --> import folder_a.folder_b.file (hook to transform an importUri string to a filename)
  * import "file" as name (references relative to the import

[2018-11-14 19:21] imaduro opened #105 "[Python2] Trying to export a non-unicode string causes an error"
Exporting a parsed model that contains non-unicode strings causes the following error on Python2

[code]

[2018-11-14 19:40] igordejanovic commented on #105
Related to #99
We should have a better error report if a user pass a non-unicode object to `*_from_str`.

[2018-11-14 20:38] goto40 commented on #103
Check #106
To be discussed... But I think your wishes were quite clear and the problem to be solved is unambiguous.

[2018-11-14 20:39] goto40 commented on #103
(sorry - reopened, closed issue by accident)

[2018-11-14 21:21] goto40 commented on #103
(not fully finished - I try your example)

[2018-11-14 21:54] goto40 commented on #103
I integrated your example above (without the "import as" like in "import xy as ab").

"Import as" is covered in the unittests.

[2018-11-14 22:00] dkrikun commented on #103
awesome :blush:

[2018-11-15 11:33] mfrigerio17 opened #107 "Issue with ordered choice and references (FQN scoping)"
Hi, consider the code:

[code]

It fails with `Unknown object "kind2.a" of class "LiteralKind1`
I understand that the `Ref1` rule, that comes first, is selected because the text "kind2.a" matches it.
But why is the subsequent failure (no object found) not triggering an attempt with the other rule, `Ref2` ?

I suspect that only text-matching failures lead to the following alternatives in an ordered

[2018-11-15 17:09] approxit commented on #97
Everything is working now, thanks guys!

[2018-11-15 17:09] #97 closed, assigned to nobody

[2018-11-15 18:47] goto40 commented on #107
The problem in the example above, is that Ref1 and Ref2 are not distinguishable by the parser.
Thus, the first match (Ref1) is always chosen.

Note: It is not possible to select a rule by the type of a reference in the rule. The reference resolution takes place after parsing.

You could try the following (the validator is optional in my option, since the grammar does not allow
the bad cases except

[2018-11-16 08:45] igordejanovic commented on #107
In addition, Xtext like assignments are simplified in textX:
For example, instead of `vars += LiteralKind1*` you just write `vars *= LiteralKind1`. See [here](http://www.igordejanovic.net/textX/stable/about/comparison/#difference-to-xtext-grammar-language) for the differences.

I was playing around with a generalized version of the above language:
[code]

but the `RelativeName` doesn't work in thi

[2018-11-16 08:54] #103 closed, assigned to nobody

[2018-11-16 09:04] dkrikun opened #108 "Object processor with imports"
I have a scoping provider `PlainNameImportURI`, with two files `a.dsl` and `b.dsl`:

[code]

[code]

I register a model processor and an object processor for the class object. Then I observe that model processor callable is called as expected, but object processors are called twice for each object (that is 4 times in the example above, 2 for each 'class'). Also I see that they are only called whil

[2018-11-16 15:14] goto40 commented on #107
I will investigate...

[2018-11-16 19:53] goto40 commented on #107
See #109

[2018-11-16 19:58] goto40 commented on #108
You are really digging for the details! That is great!!!!
I need some time to have a look at this... It looks like a bug (Postponed for the moment - wait some days)

Thank you very much!

[2018-11-17 09:58] dkrikun opened #110 "Test failures"
I wanted to hack a bit on textX, so I've cloned master, and I've run the tests before doing anything, and there are a few fails, there, is it expected?

[pytest_out.txt](https://github.com/igordejanovic/textX/files/2591662/pytest_out.txt)

[2018-11-17 10:16] igordejanovic commented on #110
No, it is not :).

It seem to be a cross-platform path construction issue. Path constructions should use `os.path.join` instead of hard coding path separator. Thanks for the report.

[2018-11-17 10:54] igordejanovic opened #111 "TEP-001: Reference resolving support in the textX language"
This is an initial proposal for making an extensions to textX language to support resolving/scoping definition declaratively in the grammar.

textX support automatic reference resolving by [referencing grammar rule inside `[]`](http://www.igordejanovic.net/textX/stable/grammar/#references). Up until version ... the reference mechanism was very simplistic. The object was searched in the global mode

[2018-11-17 14:27] goto40 commented on #111
( I need some time to read )

[2018-11-17 14:32] goto40 commented on #111
We should think about renaming "RelativeName" and "ExtRelativeName" scope providers (as suggested by @igordejanovic in #109).

[2018-11-17 15:01] igordejanovic commented on #111
Sure. This is an important stuff so we should take our time to think thoroughly before jumping into implementation.

[2018-11-17 15:20] goto40 commented on #111
We should maybe rework the examples in scoping.m for RelativeName (independent of the renaming activities).

[2018-11-19 07:31] igordejanovic opened #115 "Generating user classes from ECore meta-models"
See [this comment](https://github.com/pyecore/pyecore/issues/16#issuecomment-439792225).

[2018-11-19 08:38] dkrikun opened #116 "What approach to use to test models?"
I have set up a grammar, metamodel etc. Now, I would like to test the parser by feeding it various source codes as input and inspecting the resulting models.

At first, I thought, I would construct an expected model by hand and then compare it with the actual one (produced from parsing). However, I am not sure I can achieve this without defining everything with custom classes. Is it possible?

In

[2018-11-19 16:55] mrkafk opened #117 "get_children_of_type: AttributeError: 'str' object has no attribute '__name__'"
Parsed string:

[code]

Code:
[code]

Exception:
[code]

Per `get_children_of_type` docstring, `typ` should be allowed to be a string?

[2018-11-19 17:11] goto40 commented on #110
issue resolved (see #106 "all green")

[2018-11-19 17:11] #110 closed, assigned to nobody

[2018-11-19 17:42] goto40 commented on #108
see #118

[2018-11-19 17:51] goto40 commented on #117
I checked your example with python 3.6 and the current textX version. I do not get the effect.

Which version of textX and python do you use?

[code]

[2018-11-19 18:56] goto40 commented on #111
If I understand your proposal correctly,
 * you want to embed scoping into the grammar, and
 * you would like to restrict the path to be searched for FQN scoping.

The current FQN implementation has no restrictions and uses nested named structures to search for objects (of a certain type). In the following I would like to outline the existing scoping implementations to have a better basis for disc

[2018-11-19 19:57] goto40 commented on #111
(sorry, closed by accident)

[2018-11-19 21:14] igordejanovic commented on #117
I think that is related to #105 . Inputs to textX must be unicode. Make sure your variable `s` is of unicode type. We will provide type checks for better error report in the future.

[2018-11-19 21:16] igordejanovic commented on #117
BTW, this is an example from [this SO question](https://stackoverflow.com/questions/53379893/parsing-dhcpd-conf-with-textx). I'm linking here as it is an interesting use-case that should be covered in the docs (FAQ probably). Will make an issue for that.

[2018-11-19 21:19] igordejanovic opened #119 "Extracting model from arbitrary surrounding text"
This is an interesting use case [posted to StackOverflow](https://stackoverflow.com/questions/53379893/parsing-dhcpd-conf-with-textx) which pops up very often. We should have this covered in the docs.

[2018-11-20 06:01] goto40 commented on #111
Note: why not using directly python code to navigate through the model (in the relativename provider)? --> because we need to handle the postponed logic.

[2018-11-21 07:05] igordejanovic commented on #117
I reproduced this problem with Python 2.7 and it is a unicode problem. Putting `from __future__ import unicode_literals` at the top of the file solves the issue.

[2018-11-21 13:47] igordejanovic commented on #111
@goto40 Thanks a lot for a detailed analysis. Sorry that I'm not so agile in response these days, been quite busy. I've started to work out the details of the reference search/resolve DSL I proposed in this issue. Please give me few days to sort things out and make some concrete examples.

[2018-11-21 14:07] goto40 commented on #111
Take your time.

[2018-11-21 14:58] igordejanovic commented on #116
We haven't done that before. A usual approach is to construct the model using textX and than to make some interesting assertion about the model (depending on what we are testing). No full comparison is done.

[2018-11-22 00:35] bmwiedemann commented on #101
[In our case](https://build.opensuse.org/package/view_file/openSUSE:Factory/python-textX/python-textX.spec), `examples/robot/robot_meta.dot` is created by `py.test-3.6` in the `%check` section
and installed along with other examples via the `%doc` macro.

https://en.opensuse.org/openSUSE:Reproducible_Builds has useful links on the topic

The final goal is to have every package build able to produc

[2018-11-22 04:44] simkimsia opened #121 "A possible dumb question: is textX suitable to create a DSL for generating Django model code?"
I am thinking of writing my own DSL to generate Django model code or changes to Django model code faster.

Currently, I think like a business analyst of what the enduser requires and then I write it out in Django code (mostly models and serializers and viewsets via Django Rest Framework and Dynamic Rest).

I typically use Django like backend and react as frontend.

I have been googling like mad he

[2018-11-22 09:16] igordejanovic commented on #121
Yes, textX is perfectly suitable for the task. Actually, that is something it is created for. To make a clean little language that fits your needs in describing your requirements/solution and than generate a bunch of stuff for various target platforms. See the Entity example is the docs. It's very simplistic but would provide you a good starting point.

I see the success of Django and similar fram

[2018-11-22 09:35] igordejanovic commented on #111
I have put together an [initial version of TEP](https://github.com/igordejanovic/textX/wiki/Reference-resolving-expression-language-(RREL)) (textX ehnacement proposal :) ) for this in the form of Wiki page as I think that issue is more for discussion but the final description should be a single consistent document.

[2018-11-22 09:48] igordejanovic commented on #101
I see. `dot` files in examples are generated during test as all examples are run to verify that they don't break. The produced `dot` files are not considered a part of the build, they are byproduct. Do you have an option in `%doc` macro to exclude `.dot` files from examples folder?

[2018-11-22 11:11] igordejanovic opened #122 "Transfering textX and related projects under textX organization"
I'm thinking for quite some time about this as the project has many contributors now and I'm not a sole maintainer anymore this seems to make sense. The additional benefit is to transfer related textX tools (IDE plugins, language server, visualizators) which are currently hosted [here](https://github.com/textx-tools) under a single organization and thus make them more visible.

I've never done thi

[2018-11-22 13:31] mfrigerio17 commented on #107
Hi, thanks a lot for your replies.
So If I understand it correctly, there is no mechanism at the moment to enforce what I want in the grammar, thus I need to implement a custom validator in code. Thanks for the example.

[2018-11-22 14:36] bmwiedemann commented on #101
proposed https://build.opensuse.org/request/show/651138 to drop the .dot example files

[2018-11-22 14:49] dkrikun commented on #119
Can't one just add a rule at the end of the grammar that will accept everything and do nothing?

[2018-11-22 14:50] #108 closed, assigned to nobody

[2018-11-22 14:59] dkrikun opened #123 "Inspecting object types"
In robot example, `__class__.__name__` is used to discriminate between `InitialCommand` and `MoveCommand`. However, using this technique doesn't work when the objects being inspected are of abstract type, because `__class__.__name__` returns only the most derived type.

Is there a better way to check types of objects in the model?
On the related note, I'am considering to monkey-patch the objects i

[2018-11-22 15:21] igordejanovic commented on #119
That rule would not be used during parsing so you actually have to consume non-interesting stuff until you find something of interest, then you try to parse it and repeat the process until the whole input is consumed.

[2018-11-22 15:27] dkrikun opened #124 "Model processors vs. directly calling function on parsed model"
Question: how is using a model processor is different from simply calling a function taking a model *after* the parsing is complete?

[2018-11-22 15:27] igordejanovic commented on #123
Hm, there is `textx_isinstance` in the [scoping.tools](https://github.com/igordejanovic/textX/blob/master/textx/scoping/tools.py#L35) done by @goto40. Haven't tested is it working in this case. It looks like it should.

Is it a good idea?

Well, monkey-patching is almost never a good idea but sometimes it is the most pragmatic solution. In this case [custom classes](http://www.igordejanovic.net/te

[2018-11-22 15:30] igordejanovic commented on #124
No difference. Model processor is only a convenience that ensures that calling a processor is not forgotten.

[2018-11-22 15:31] dkrikun commented on #123
The problem with `scoping.tools` is how does one gets a grip on a textx
class in the first place?

On Thu, Nov 22, 2018, 17:27 Igor Dejanović <notifications@github.com wrote:

[2018-11-22 15:34] igordejanovic commented on #123
You can get a class from the meta-model. That part is not covered by the docs but meta-model object acts as a dict which you can query by class/rule name and get that object.

[2018-11-22 15:36] igordejanovic commented on #123
@goto40 BTW, `textx_isinstance` and some others generally usable function should probably be moved out of scoping module and exported/documented as a public API.

[2018-11-22 15:40] igordejanovic commented on #124
I think that we should not close `question` issues to make them more visible.

[2018-11-22 15:54] goto40 commented on #123
There is a (very simple) unittest. The first test in https://github.com/igordejanovic/textX/blob/master/tests/functional/test_scoping/test_scoping_tools.py

If you have problems I can enhance the test...

[2018-11-22 16:38] goto40 commented on #122
I have no experience with this topic. I think we can just try it...

Maybe make an announcement when the migration takes place...

We will need to fix links in the docu. Possibly in the issues as well...

[2018-11-22 17:01] igordejanovic commented on #122
Ok. I guess all meta-data will remain so all we should care about would be links although a redirection will be configured so we can gradually correct all links in the docs. I will announce here when the migration is planed.

[2018-11-22 21:01] goto40 commented on #111
Great! Let's refer to it as TEP-001 :)

Can I comment it directly in the Wiki. Or do I comment it here. Or do I modify the wiki?

I like the idea of the clear RREL and I think I do better understand now. The example is a good starting point. I have some questions and would like to add fictive model files...

[2018-11-23 06:48] dkrikun opened #125 "Model processors chain but object processor don't"
It's a minor asymmetry , but when one has a bunch of both of them it becomes inconvenient

[2018-11-23 07:10] dkrikun commented on #123
I have looked at the expression examples in the repository. There, you have defined custom classes for all (or almost all) elements of the grammar so that you can have `value` or `op` properties defined for various elements.
The problem with this approach is that it negates the convenience for having textx to define model classes for you.
I thought maybe I can have classes defined by textx, then a

[2018-11-23 07:24] igordejanovic commented on #123
Sure, that sounds perfectly legit to me. If an addition to the class is localized and well defined, and the alternative is writing a bunch of boiler-plate code just for the sake of OO pureness I would always opt for the solution you was thinking about.

[2018-11-23 07:38] #95 closed, assigned to nobody

[2018-11-23 07:43] igordejanovic commented on #116
Just a thought. Maybe something along this lines #38 could be used to provide full comparison.

[2018-11-23 08:25] dkrikun commented on #116
Actually, I am now convinced it is more useful to traverse the model and assert various facts about it, because if "it walks like a duck and it quacks like a duck, then it must be a duck". In other words, full comparison is not necessary (IMHO)

[2018-11-23 09:42] igordejanovic commented on #111
Agreed :)

I don't see a way to comment on wiki. I guess it is best to discuss here and update the wiki when come to a conclusion/improvement.

Great! I think we should go trough all unit tests and try to find interesting references and specify RREL for it. Thus, we can see do we cover all interesting cases with the language and using this process gradually refine the language syntax and semantics

[2018-11-23 10:29] dkrikun commented on #124
By the way, are object processors also called after the parsing is complete? If an object processor returns a value of another object type, does a processor for that type is called?

[2018-11-23 10:36] dkrikun opened #129 "Move CONTRIBUTING.MD to top-level"
Could you please move it to repo top-level?
It is non-standard (on github), and I wouldn't find it if @goto40  hadn't pointed it out for me.

It is not auto-recognized on github >>
![image](https://user-images.githubusercontent.com/509444/48939261-4b861000-ef1c-11e8-9d7c-1a90aecaeee8.png)

[2018-11-23 19:35] goto40 commented on #111
Some thoughts about TEP-001:
For me there are three "main aspects" in a text based DSL:

  1. The **grammar** (for textx: the grammar file/string),
  2. **scoping** (for textx before TEP-001: python code / meta model code),
  3. **validation** to yield domain specific errors (for textx: python code /
 meta model code)

TEP-001 proposes to move parts or all of the **scoping** aspects **from python

[2018-11-23 19:37] goto40 commented on #111
* I do not understand completely "~".
 * How can I say "^{follow-named-object}*" --> this would be FQN (open point postponed logic)
 * How can I say "..{follow-attribute-type-without-consuming-the-name}.{follow-named-object}" --> is this "~"?

[2018-11-24 08:25] goto40 commented on #124
Object processors are called after parsing and reference resolution. Thus, an object processor always have all references resolved.

If you return a value in an object processor, the current object is replaced. The replaced object is not further processed.

Details: see call_obj_processors in model.py.

[2018-11-24 12:25] igordejanovic commented on #111
Fully agree. We should allow user to override what is specified in the grammar either by RREL or by custom scoping provider. The logic could be to use the most specific match (e.g. direct attribute match over wildcards) and in the case of a conflict obey the provider specified in the source code (as we assume the user would like to override the grammar).

I don't see that custom classes would be a

[2018-11-24 12:33] #129 closed, assigned to nobody

[2018-11-24 12:59] goto40 commented on #111
Sorry: I  mean custom _provider_ classes.

[2018-11-24 13:19] igordejanovic commented on #111
Ah, I think that current mechanism is good, we just provide a callable which the right signature and register on the metamodel like we do now. We won't do anything to support custom providers in the RREL language. We provide support for most common resolving. For all very specific cases users must write their own scope provider and register as they do now. In my view we should end up only with RRE

[2018-11-24 13:51] goto40 commented on #111
Hm... Yes it is specific to the current FQN implementation. We may drop it...

To differentiate between different attributes we could introduce something like a "{..}" syntax, as follows
   * **Syntax**: ('{' attribute=ID '|' (rule=FQN '.')? identifier_attribute=ID '}') | (attribute=ID)
   * **Semantic**:
      * attribute = Attribute to be followed (may be "*" to use any attribute)
      * rule =

[2018-11-24 13:54] goto40 commented on #111
Is  ~ only applying to "extends" or also to "methods"? I understood that "~" is applicable to individual parts of the RREL string...? E.g. if would like to "jump over a bridge without consuming parts of the name", like in the FQN-sopcing, where I jump over "importURI.__tx_loaded_models"...

[2018-11-24 14:02] goto40 commented on #125
At the moment we have one processor executed for one object (not 100% sure, if we could have two of them executed with base classes...).

If we have more than one object processor executed for one object, we must take care of what happens if an object processor in that chain returns a value (to replace the current object). Does the next processor in the chain process the original object of the mod

[2018-11-24 14:04] goto40 commented on #124
Can we introduce an "answered question" . This will make it easier to "see" what issues are "open" or not...

[2018-11-26 14:47] igordejanovic commented on #111
I think `~` should apply only on part name thus `extends` in the previous case. In order to mark multiple path parts with `~` you must explicitly use it, e.g. `~extends*.~compartments.methods` where both `extends` and `compartments` wouldn't consume part name. Sorry for not replying on your previous comments. I need to find some time to thing about it.

[2018-11-26 14:48] igordejanovic commented on #111
On the other hand `^` marks the whole path subexpression. You could have multiple `^` in a single RREL expression if sequence (`,`) is used as in `^some.path,^some.other.path`.

[2018-11-26 16:44] goto40 commented on #111
Take your time. The central question is how powerful the RREL should be.

[2018-12-01 14:12] igordejanovic commented on #111
Github is using git for versioning of Wiki pages which is really nice. You can see [here](https://help.github.com/articles/adding-and-editing-wiki-pages-locally/).
So to clone wiki for textX you should do:
[code]

I'm making changes to TEP-001 as we agree on things, so you can follow commits in this repo.

I was thinking about [your proposal above](https://github.com/igordejanovic/textX/issues/111

[2018-12-02 13:24] goto40 commented on #111
I agree. I have some points I am not sure with the current state, but we can change details later.

We should start - as you proposed - with collecting examples from the unittests and sketch if/how the RREL applies. If this is okay for you I can start making a short table or list next week...

[2018-12-02 20:22] igordejanovic commented on #111
That would be great. Thanks! You can start a new section with examples at the end of the TEP-001 wiki page and we can polish it as we go. At the end of the process TEP wiki page will be the final accepted version we all agree on, and then we can start with the implementation.

[2018-12-04 21:01] goto40 commented on #111
I started an example grammar which is (I think) in line with the wiki: https://github.com/goto40/textX/tree/TEP-001-examples/examples/RREL

Have a look there...

 * Once we discussed #133, I would also add such an example (which I think should be elegant with RREL).
 * The only open point is possibly multi-file models...
 * I could move the branch to the original textx repo, once we decide to take

[2018-12-08 18:32] igordejanovic commented on #111
Looks good. I suggest to start putting these examples at the section `Examples` at the end of TEP-001 document itself and polish them until we are satisfied.

One correction in `Call` rule. Instead of `method=[Method|ID|~obj.~ref.~methods, ~obj.~ref.~extension*.~methods]` you should write `method=[Method|ID|obj.ref.~extension*.methods]`.
Explanation: `obj` and `ref` are not collection, thus `~` do

[2018-12-09 14:29] goto40 commented on #111
Thank you for the comments. I updated the wiki.

[2018-12-09 23:59] fgagnonseed opened #135 "Meta-calss Attributes should initialize to None"
It seems like the attributes of the meta-class are initialized to None for non-terminals but to some default values for terminals.  Consider the grammar below.

[code]

producing this output:
[code]

You can see that integers initialize to 0, floats to 0.0 and other strings to the empty string ('') while the none-terminal (string2) initializes to None.  I would argue that they should be consistent

[2018-12-10 16:18] igordejanovic commented on #135
That is expected behavior documented [here](http://www.igordejanovic.net/textX/stable/metamodel/#auto-initialization-of-the-attributes). You can change it with `auto_init_attributes` param during meta-model creation.

[2018-12-10 16:25] igordejanovic commented on #111
Thanks. Looks good. I've fixed RREL expression in [example 2, `Reference.ref`](https://github.com/igordejanovic/textX/wiki/Reference-resolving-expression-language-(RREL)#rrel-implementation-1).
We need dot after `instance` and this example reveals that we would need grouping of subpath elements for `*` operator.

[2018-12-18 05:16] simkimsia commented on #121
Thanks for answering my question. I will mark this as closed then. :)

[2018-12-18 12:24] igordejanovic commented on #121
We like to keep these "question" tagged issues open for better visibility. :)

[2018-12-18 13:32] Aluriak commented on #121
You may want to agregate them as a FAQ in the wiki instead, to keep issues about… well, issues :)

If you agree with this, i can take care of translating current questions into a wiki in few hours.

[2018-12-18 15:21] simkimsia commented on #121
That’s a great idea 💡

KimSia https://simkimsia.com ( https://simkimsia.com/ )

P.S. What I'm doing now: https://simkimsia.com/now

On Tue, Dec 18 2018 at 9:32 PM, < notifications@github.com > wrote:

[2018-12-18 16:10] igordejanovic commented on #121
@Aluriak Compiling some notable and often asked questions in the form of FAQ is a good idea but still we need a way for a general questions/discussion in the forum format. In the past we use google groups but GitHub provides a much nicer markdown based formatting and linking. I think that labeling issues is the best thing we can do for now as sometimes users don't know if something is an issue or

[2018-12-18 16:36] simkimsia commented on #121
Please allow me to chip in as well :)

[2018-12-18 17:16] igordejanovic commented on #121
Great, thanks to both of you! Wiki is handled by git also but unfortunately [there is no way to accept PRs without some hacks](https://github.com/isaacs/github/issues/846) at the moment. Maybe the best approach would be to add FAQ page to the [official docs](http://www.igordejanovic.net/textX/stable/) which are also written in markdown using [MkDocs](https://www.mkdocs.org/) and are [part of this

[2018-12-18 17:23] simkimsia commented on #121
Let’s do that 🙌

KimSia kimsia@oppoin.com https://simkimsia.com ( https://simkimsia.com/ )

P.S. What I'm doing now: https://simkimsia.com/now

On Wed, Dec 19 2018 at 1:16 AM, < notifications@github.com > wrote:

[2018-12-18 18:19] igordejanovic commented on #121
Ok, let's sync your work. I suggest that one of you guys make an initial version of the page and than everyone can contribute. Who is applying for the initial version? :)

[2018-12-18 19:16] Aluriak commented on #121
I'm applying for the initial version.

IIRC, there is some way to get some peoples to work on the wiki, without opening it for all users. This would come in handy, because the PR system sounds really heavy for just text writing.

Getting the FAQ in the docs makes them far from the issues (while wiki is litteraly 1 click away), so it maybe fit well with your will to keep questions in the current fo

[2018-12-18 21:15] igordejanovic commented on #121
According to [this](https://help.github.com/articles/changing-access-permissions-for-wikis/) either collaborators or everyone with GitHub account can edit wiki.

It looks to me that this is the best way at the moment, it is good for someone to review the change before merging, and it is convenient that everything is in the same repo with the full history of changes. I'll add a link to the FAQ page

[2018-12-19 02:11] simkimsia commented on #121
Thanks for doing this, @Aluriak Looks great!

I recommend having just one place for questions. Instead of having the questions in issue tracker and in stackoverflow.

Of course, @igordejanovic has the final say how he wants to do this.

If it helps with promotion, I don't mind replicating the more objective questions and answers Lucas wrote in the faq into the SO.

I have started to watch the `tex

[2018-12-19 10:46] igordejanovic commented on #121
BTW, SO is rarely used for questions about textX up until now. I still follow `textx` tag there and answer the questions but I'm not sure how many textX users have an SO account and would actively used it for Q&A.
The `question` tag here in issues started organically as users started to ask questions here although there was a note in the docs for asking on SO.

SO could be a good platform for supp

[2018-12-19 13:49] Aluriak opened #139 "How to handle, conserve and aggregate questions about TextX ?"
I move here the conversation from #121.

Currently, there is three places to find questions & answers for TextX:

- the issues labelled *question*, that are also kept open
- stackoverflow
- the newly started FAQ page of the package documentation

The questions are:

- do we really need these 3 ?
- if no, which should be kept ?

I've seen some projects relying officially and solely on SO for questi

[2018-12-19 13:50] Aluriak commented on #121
I propose to move this conversation to a specific issue, namely #139.

[2018-12-19 13:58] simkimsia commented on #139
I think right now as it is fine. But we can start to slowly seed the questions in SO

SO also has stringent guidelines on what’s an objective question to ask.

Right now given that the load on questions is not that heavy we can live with GitHub as first point of query.

Every 6 months or so we cull the most frequently asked and update the FAQ

[2018-12-19 15:49] igordejanovic commented on #139
@Aluriak, @simkimsia  I fully agree, and I think it is the right time to set up the policy for asking question as the project [will move under textX organization](https://github.com/igordejanovic/textX/issues/122).

At the moment there isn't a big volume of questions involved so changing the venue where questions are asked won't make much damage. I do like SO as I think it brings several benefits,

[2018-12-19 16:11] goto40 commented on #139
This all sounds good to me.

Did I understand correctly, that we will also maintain the FAQ?  I find it important to keep all Infos together at some central location...

We could possibly merge the how-to file into the FAQ file...

[2018-12-19 19:24] goto40 opened #140 "Assertion error while calling object processors with multi meta models (extended grammars) and custom types"
I encountered a problem with
 * two grammars, one extending the other (the second grammar allows to instantiate elements 'inherited' from the other). In contrast to the "referenced_metamodels" feature, we get the meta classes created for both meta models separately, not reusing the already created meta classes (see https://github.com/igordejanovic/textX/blob/master/docs/multimetamodel.md).
 * mult

[2018-12-19 19:38] goto40 commented on #140
Proposal to be discussed + analysis: see #141

[2018-12-19 20:30] Aluriak commented on #139
Sounds like a unanimous vote for:

- Encourage the use of SO
- New questions arriving on the issue system should be closed after answering and/or linking to SO/FAQ, and later integrated into the documentation FAQ if it seems interesting.

Note that questions of the FAQ may totally be moved to SO, Q&A style [as they said](https://stackoverflow.blog/2011/07/01/its-ok-to-ask-and-answer-your-own-quest

[2018-12-20 03:51] simkimsia commented on #139
Just to summarize

- [ ] move this repo to textx organization
- [ ] encourage the use of SO
- [x] keep FAQ in documentation
- [ ] update FAQ every N months by pulling top questions from SO or GitHub issues

I also prefer to always have a FAQ in documentation. Even if for offline access like what @Aluriak says.

By the way, I am completely new to textx and DSL in general. I will be a good guinea pi

[2018-12-20 04:02] simkimsia commented on #139
By the way, I discover @goto40 self-dsl [repo](https://goto40.github.io/self-dsl/textx_intro/). And I think it contains some really useful stuff taht I find as a beginner. It has more stuff on XText than TextX but TextX is pretty good too.

I found the motivation and intro topics to be useful especially for beginners  like me.

Not sure how @goto40 feels about incorporating some of the self-dsl in

[2018-12-20 05:31] goto40 commented on #139
All topics not covered for textX are part of the TextX unittest and textx
docs. (at least I hope I forgot nothing). Most important is the technology
indépendent basics.md part.

Also you have a sketch of a DSL python app project I use myself.

[2018-12-20 05:45] goto40 commented on #139
@simkimsia, thank you for the feedback. If you find details missing for textX (given for xtext on self-dsl), give me a hint. I will be happy to clarify or add infos...

[2018-12-20 05:47] simkimsia commented on #139
@goto40

Would be great if u can link the basics.md in ur comment to ur self-dsl else people might be confused. I agree that fundamental part is important.

Where’s the sketch u mention? I cannot find it

I still reading to understand.

[2018-12-20 05:53] goto40 commented on #139
Within self dsl:

Basics:
https://goto40.github.io/self-dsl/basics/

Textx project sketch:
https://goto40.github.io/self-dsl/textx_project_setup/

[2018-12-20 08:59] igordejanovic commented on #139
@simkimsia self-dsl should definitely be linked from textX docs. I just did that. Thanks for bringing this up. :)

So, we will go with SO as the place to ask questions. I would restrain from answering new questions here. When we start with the new policy, it will be announced on issue tracker and from that point on for any new question we should provide the link if the question is already answered

[2018-12-20 10:54] igordejanovic commented on #139
@goto40 Regarding how-to/FAQ, correct me if I'm wrong but I think their purpose is different. While FAQ should be some questions one could ask while learning the tool that could be a common gotchas and misunderstandings, how-to section is more an example-based approach on how to implement common tasks in developing a language.

[2018-12-20 15:54] goto40 commented on #139
You are right. There may be an overlap if soemone ask a question 'how to do this and that'...

It is OK to keep it separated.

[2018-12-20 18:05] igordejanovic commented on #139
I've put instruction on SO usage in README and docs. We can start with the migration. From now on, questions should be asked on SO.

We can start gradually moving questions from issue tracker to SO and/or FAQ page as the time permits. When the question is migrated please close it in issue tracker.

[2018-12-21 00:51] simkimsia commented on #139
@igordejanovic Cool! I'll try to follow the usage instructions for my own selfish ends.

Basically I want to try to see if I can use TextX to build a DSL for Django model code generation. Every question I come up with and eventually solve (either on my own or with the community help) I will seed them in SO.

[2018-12-21 01:47] simkimsia opened #142 "I found these 2 extensions for textX in vs code. Woud it be helpful for me to write abt them in docs?"
![image](https://user-images.githubusercontent.com/245021/50320029-6f317b80-0505-11e9-9445-ee8f9984ff9f.png)

[2018-12-21 02:12] simkimsia opened #143 "Suggestion to change the current choice (`readthedocs`) for mkdocs theme for better readability"
I am going through the tutorial now.

In the HelloWorld I mistake the comma for a period.

I like to recommend switching the theme to something that makes the code syntax highlighting more readable.

Not sure if it's possible, but I saw a free theme for Guzzle http://www.writethedocs.org/guide/tools/sphinx-themes/#guzzle-theme

and I checked out their website, and at least the comma is quite obvio

[2018-12-21 02:30] simkimsia opened #144 "Can I add documentations about vscode, graphviz, and macos?"
I just spent about 1.5 hr trying to figure out installation for vscode, graphviz for mac OS mojave.

I would like to contribute what I figured out for future users using similar tools and OS directly to the docs.

So that future users reduce the amount of time figuring stuff out.

What does the community think?

[2018-12-21 02:39] simkimsia opened #145 "Is it a good idea to gitignore the dot files generated by the `textX visualize` command?"
I didn't post this in SO because it might be a subjective question. So I am posting it here. Thank you.

[2018-12-21 08:31] igordejanovic commented on #145
It usually is as it is a product of code generation/compilation so you treat them as you would treat e.g. Python `.pyc` files or Java `.class` files. You don't keep them in version control as you can always regenerate when needed. And you usually want to get some other form anyway (.png, .pdf) so .dot are just transient files.

But, if it is a part of the docs for example, and that documentation s

[2018-12-21 08:32] Aluriak commented on #143
Mistaking the comma for a period sounds like a font problem, rather than a highlighting one.

If it's possible to change something about that, i recommend something like Source code pro or Monoid.

[2018-12-21 08:34] Aluriak commented on #144
Sounds like it could feed the [howto page](https://github.com/igordejanovic/textX/blob/master/docs/howto.md).

[2018-12-21 08:37] igordejanovic commented on #144
That would be great. Thanks!

But, I'm reluctant to add to the official docs tutorials that are editor/IDE/OS specific as that might confuse users to think that textX is just meant to be used in that context. Furthermore, official docs require maintenance so I would like to keep things focused on textX only.

I suggest that you make a blog or gist or whatever and we will link it form the [Editor/I

[2018-12-21 08:46] igordejanovic commented on #143
textX uses [MkDocs](https://github.com/mkdocs/mkdocs) for the docs together with [mike](https://github.com/jimporter/mike) for versioning (see the version change control in the upper left corner of the docs).

@simkimsia You could try to experiment with mkdocs themes. You can do that locally by changing [mkdocs.yml file](https://github.com/igordejanovic/textX/blob/master/mkdocs.yml). If you find s

[2018-12-21 08:52] igordejanovic commented on #142
Those are the tools developed by @danixeee, @danielkupco and @starcev as a part of their master thesis.

The tools are hosted at [textx-tools](https://github.com/textx-tools) organization but the plan is to move all those tools to textX organization during the planed transition for their better visibility.

I suggest to contribute docs to those projects directly as they are separate projects and w

[2018-12-21 09:21] igordejanovic opened #147 "Please read this before asking questions"
We are changing the venue for support questions about textX. For a discussion see #139.

From now on, please ask questions on [StackOverflow](https://stackoverflow.com/questions/tagged/textx/).
Just make sure to use `textx` tag so we could notice it.

Issue tracker will be used for bugs, feature requests and suggestions.

[2018-12-21 16:49] alensuljkanovic opened #148 "Generate DSL documentation from metamodel (grammar)"
Once DSL is created, documentation still needs to be written manually.

If somehow we could document elements inside grammar, documentation will be part of metamodel (?). This would allow us to generate documentation in different formats (markdown, xml, html, ...). Plus, I believe that it would be easier to maintain the documentation, since it's in the same file as a language definition.

An inter

[2018-12-21 17:21] goto40 commented on #148
Do you mean something like Javadoc for grammars...?  The referenced paper seems to describe another approach.

[2018-12-21 23:00] simkimsia commented on #142
Copy that!

[2018-12-21 23:00] simkimsia commented on #143
It's a font issue. Let me experiment with mkdocs themes first. I'll report my findings here.

[2018-12-21 23:18] simkimsia commented on #144
Copy that. Let me prioritize your replies in other threads. Will likely make a blog

[2018-12-21 23:19] simkimsia commented on #145
Copy that. Thanks! Grateful for the clear answer :)

[2018-12-21 23:19] #145 closed, assigned to nobody

[2018-12-22 05:37] simkimsia commented on #143
Sorry, I'm really noob at this. So I have forked textX and do I need to follow the instructions here https://docs.readthedocs.io/en/latest/install.html and install readthedocs locally in order to test a suitable theme?

Which Python version do I use to be compatible with the readthedocs for textX?

[2018-12-22 08:57] igordejanovic commented on #148
Sounds interesting. I think it is worth researching the possibilities.

I guess something like javadoc approach would be relatively easy to implement. We already have [textX grammar defined in textX](https://github.com/textX-tools/textX-languageserver/blob/master/src/metamodel/textx.tx). :)

[2018-12-22 09:07] igordejanovic commented on #143
Follow the [contribution guide](https://github.com/igordejanovic/textX/blob/master/CONTRIBUTING.md) to setup your environment.

After that you will be able to run mkdocs server from the root folder of the project:
[code]

You will see the local address where you can access the docs from the browser.
Go to the MkDocs site and see what themes are available with the default MkDocs install and play wi

[2018-12-22 18:45] igordejanovic commented on #143
BTW, we are just using `readthedocs` inspired theme from MkDocs. It has nothing to do with readthedocs site.

[2018-12-22 18:48] igordejanovic commented on #122
I've started to transfer some of the textX related project to textX organization. So far so good.

[2018-12-22 18:50] igordejanovic commented on #122
If I don't encounter any problem in the meantime the transfer will happen by the end of the next week.
I'll post the details soon.

[2018-12-23 09:46] alensuljkanovic commented on #148
@goto40 actually, yes. Support for comment blocks is already there, so they could be used as docstrings.

[2018-12-23 10:49] igordejanovic commented on #122
The transfer will take place on 27th December.

[2018-12-24 04:14] simkimsia opened #149 "ModuleNotFoundError: No module named 'textx' when running functional tests"
I followed this comment https://github.com/igordejanovic/textX/issues/143#issuecomment-449556703 and at the step where I run `py.test tests/functional` at step 3 of https://github.com/igordejanovic/textX/blob/master/CONTRIBUTING.md#get-started

I get `no module named 'textx' error`. However, when I type `textx` it is definitely installed.

[2018-12-24 06:29] simkimsia commented on #143
Okay took me a while to learn that there were two builtin themes for mkdocs : `mkdocs` and `readthedocs`

## No change. Stick to `readthedocs`

<img width="836" alt="image" src="https://user-images.githubusercontent.com/245021/50391966-01938280-0785-11e9-8207-586b8e4ff9c2.png">

Pros:

- built in, so only need to make 1 change in the `mkdocs.yml`

Cons:

 - Same code screenshot as mkdocs screensho

[2018-12-24 09:47] igordejanovic commented on #143
Thanks for the detailed analysis. I think we should stick with the provided builtin themes unless there is a compelling reason not to. I vote for font change and keeping the current theme.
That solves readability issue without introducing any disturbance.

Furthermore, I was experimenting in the past with readthedocs site, and there is still textX docs there (although some older version). I wasn't

[2018-12-24 09:51] igordejanovic commented on #149
You should ask support questions on SO :)

[2018-12-24 09:55] igordejanovic commented on #149
But this might be bug in the contribution guide. Will check during the day.

[2018-12-24 10:58] igordejanovic commented on #149
Checked and it works fine. Seems that contribution guide is ok.

[2018-12-24 11:24] goto40 commented on #149
Sometimes it helps to define 'PYTHONPATH=.' (export PYTHONPATH=.) before running the tests.

[2018-12-24 12:51] Aluriak commented on #143
Agree with the standard styling and font change.

[2018-12-24 12:54] simkimsia commented on #149
Right, I apologise. will duplicate the question there and close this.

`export PYTHONPATH=.` this works and I only need to do it once. I would like to know why I need this.

I have created the SO question and the [answer](https://stackoverflow.com/a/53913739/80353) as a community wiki. So I believe anybody can edit the answer.

[2018-12-24 12:54] #149 closed, assigned to nobody

[2018-12-24 13:05] simkimsia opened #150 "Moving the docs to readthedocs site if there is support now for markdown."
I will look into this if @igordejanovic et al don't mind. See
https://github.com/igordejanovic/textX/issues/143#issuecomment-449710969 for reference

- [x] does sphinx support markdown and mike?
- [x] does sphinx / readthedocs support versioning?

[2018-12-24 13:06] simkimsia commented on #143
I have created an issue #150 regarding this.

[2018-12-24 13:14] simkimsia opened #152 "Warning about collections.abc"
I got this warning during functional testing using python 3.7

[code]

I am putting this here. If this is crucial, do let me know and I see if I can help.

[2018-12-24 13:22] igordejanovic commented on #150
Sure. Please do. I'm interested what is the situation now.

[2018-12-24 13:25] simkimsia commented on #150
@igordejanovic

<img width="1085" alt="image" src="https://user-images.githubusercontent.com/245021/50400488-222dfd80-07c2-11e9-9969-ae0f73496190.png">

It appears that readthedocs work with markdown and also with mkdocs.

I am confused by the way. I am not sure how readthedocs work with mkdocs and sphinx. At least I know what markdown is.

I will proceed with experimenting with readthedocs. If I

[2018-12-24 13:29] igordejanovic commented on #152
That is just a deprecation warning from a dependency (`jinja2`). So no action necessary from our side.

[2018-12-24 13:40] simkimsia commented on #152
I will mark this as closed. Feel free to add a suitable label like won't fix. Thanks for clarifying about where the warning is coming from.

[2018-12-24 13:40] #152 closed, assigned to nobody

[2018-12-24 13:43] igordejanovic commented on #150
Both Sphinx and MkDocs are tools that compile the documentation from markdown format (or ReST for Sphinx) to HTML (or other outputs). ReadTheDocs is a service/site that can pull project docs and depending on what the project uses will build the docs using either Sphinx or MkDocs and hosts it on their domain.

In our case RTD will build the docs using MkDocs, we only need to configure the project b

[2018-12-25 13:23] simkimsia opened #154 "Suggestions for improvements to docs"
My progress as a beginner:

1. finished hello tutorial
2. just finished robot tutorial

I like to suggest the following to the docs:

- [ ] whenever the tutorials mention specific concepts like base types, and rule types, they should be hyperlinked to the relevant sections of the docs.
- [ ] in the rule types section, include the special rule for COMMENT
- [ ] At the robot tutorial, explicitly sta

[2018-12-25 14:07] simkimsia commented on #150
Apparently RTD supports versioning
https://docs.readthedocs.io/en/latest/versions.html

Key points:

1. `latest` usually points to default branch
2. every version needs its own tag
3. `tags` follow semantic versioning
4. versioning workflow: either tags or branches. if both present, tags priority
5. when go to root url, goes to `latest` version

So i guess my question is what versioning workflow a

[2018-12-27 17:22] igordejanovic commented on #122
Transfer completed. `textX` organization is now a new home for this project.

If you have a local clone of this repo you can clone again or update your git remote:
[code]
or for https protocol:
[code]

[2018-12-27 19:41] igordejanovic commented on #122
The docs is now hosted at http://textx.github.io/textX/

Please update your bookmarks.

[2019-01-04 18:40] igordejanovic commented on #150
More or less we are using similar workflow. textX uses semantic versioning, although in the past we had some backward incompatible changes without increasing major version. We decided to follow semantic version more strictly so in the future backward incompatible version changes will increase major version (e.g. next release should be 2.0.0).

From a documentation perspective, currently we are usi

[2019-01-05 09:18] simkimsia commented on #150
Is tehre anything i can help with regarding this issue, @igordejanovic ?

[2019-01-05 12:44] igordejanovic commented on #150
Thanks @simkimsia for your help so far but the transition to RTD must be done by maintainers as there will be some project configuration necessary along the way.
Since the current documentation serves us well I think we should handle this with lower priority as there are some more interesting stuff we are working on at the moment (like [TEP-001](https://github.com/textX/textX/wiki/Reference-resolv

[2019-01-06 03:57] simkimsia commented on #150
No worries

Prioritise the more important stuff first

Just let me know how I can help

KimSia kimsia@oppoin.com https://simkimsia.com ( https://simkimsia.com/ )

P.S. What I'm doing now: https://simkimsia.com/now

On Sat, Jan 5 2019 at 8:44 PM, < notifications@github.com > wrote:

[2019-01-11 14:16] igordejanovic commented on #154
Hi @simkimsia

Sorry for taking so long for getting to this.

Point 1, 3 and 4 seems ok. For point 2, COMMENT rule is not a rule of special type. It is match rule used to match comments, so its _type_ is _match rule_. It is just that rule of this name (COMMENT) is handled in a special way so this rule should not be a part of rule types section.

[2019-01-11 14:17] #122 closed, assigned to nobody

[2019-01-11 14:20] igordejanovic commented on #111
Hi @goto40
FYI, I'll be working on the first stage of implementing RREL parsing and the base infrastructure for its interpretation. After that we should see how to integrate with the current scoping.

[2019-01-11 14:25] igordejanovic commented on #111
BTW, @danixeee created an [organization level Kanban table](https://github.com/orgs/textX/projects/1) so we can plan and track what is currently going on.

[2019-01-11 18:18] #143 closed, assigned to nobody

[2019-01-13 18:48] Aluriak opened #155 "Fool-safe handling of non-abstract rules without assignation"
Hi !

I (the fool in this situation) lost a lot of time figuring why my grammar was failing hard:

    import textx

    METAMODEL = textx.metamodel_from_str("""
    Model: expression=Expr ;

    ParenExpr: '(' Expr ')';
    Expr: ParenExpr | BaseExpr;
    BaseExpr: left=Condition operations*=Operation;
    Operation:  op=BoolOperator remaining=Condition;

    Condition: ParenExpr | RawCondition;

[2019-01-16 10:13] approxit commented on #122
[Some links](https://github.com/textX/textX/search?q=igordejanovic&unscoped_q=igordejanovic) in docs are still pointing to personal namespace and not textx organization.

[2019-01-16 10:13] approxit commented on #147
Actually [discuss page on docs](http://textx.github.io/textX/stable/about/discuss/) is missing this hint :)

[2019-01-16 18:14] goto40 commented on #122
I will adapt the links now

[2019-01-16 18:51] igordejanovic commented on #147
@approxit Good catch. Thanks. Actually, discuss page is redundant as the correct info is available on the index page. Removed discuss page.

[2019-01-16 19:11] goto40 commented on #122
links fixed

[2019-01-16 19:41] goto40 commented on #155
Hi. Thank you for the example.

Without going too much into details I tried to first reproduce the effect and copied your code into a new unittest file. Somehow it seems to work for me (**maybe I did not correctly understood the error you observed**).

**Could you check** if I correctly tried to reproduce. I tried to formulate **your expectations as asserts**. See: https://github.com/goto40/textX/

[2019-01-16 19:51] igordejanovic commented on #155
Hi @Aluriak. Just to be sure, which version are you using? stable or master?

[2019-01-16 19:52] goto40 opened #157 "move textx_isinstance into public API"
Wish: make textx_isinstance from textx.scoping.tools available, e.g., as textx.textx_isinstance

 * Proposal: add the following to textx/\_\_init\_\_.py
[code]
 * Is the naming ok?
 * Other suggestions?

[2019-01-16 19:54] igordejanovic commented on #155
Ah, I see @goto40 already asked :)  There was a change in handling abstract/match rules in the last few months (only on master) so maybe that makes difference?

[2019-01-16 20:10] igordejanovic commented on #157
Sounds good to me.

[2019-01-16 23:18] Aluriak commented on #155
Hi, sorry i should have put the assertions myself.

I am using the stable version i guess (installed using the good old `pip install textx`).

So, i took your [test file](https://github.com/goto40/textX/blob/issue155/tests/functional/regressions/test_issue155.py), @goto40, verified quickly that the assertions were what i expected, made a new virtualenv, pip-installed textx (which means version 1.8

[2019-01-17 08:45] igordejanovic commented on #155
Yup it wasn't. Since we have backward incompatible changes we should be going to version 2.x. I was hoping we could finish TEP-001 for 2.x release but it seems it will take some time. I guess we should go on with some form of semi-scheduled releases and release what is ready.

[2019-01-17 11:02] approxit opened #158 "Common rules should be aware of positions on each assigments"
[As asked on SO](https://stackoverflow.com/questions/54216375/methods-of-creating-syntax-highlighting-in-textx), currently we have no information about `_tx_position` and `_tx_position_end` of primitive values.

It would be great if we have some kind of mapping of assignments at the parent level. For MVP maybe `_tx_assignments` field?

[code]

[code]

[2019-01-17 14:05] Aluriak commented on #155
In that case, my advice is to follow the *release early, release often* scheme. If you have backward incompatible changes, make them available ASAP so (new) users have less probability to encounter the two incompatible versions. It's not a big deal if 2.0 is not feature-full, but just an API change. You just need to get your user used to the new changes, and able to update their code as soon as th

[2019-01-17 21:14] goto40 commented on #155
@Aluriak, do you have python 3.5? See #159.

[2019-01-18 08:53] igordejanovic commented on #155
@Aluriak All valid points. We have to come up to a better release process.

[2019-01-18 10:03] Aluriak commented on #155
@goto40 depends of the machine i use. My first post was under 3.6, my second under 3.7.

@igordejanovic I am not an expert of release cycle, i just happen to run into a failing use-case. Focus on what you need to do.

[2019-01-20 16:38] goto40 commented on #155
@igordejanovic, question:
[code]
 * means to me: A is a base of B and C.

What does then the following mean?
[code]
 * A is a base of B,C.
 * B is a A...?

[2019-01-20 19:15] goto40 commented on #155
(moving comments to PR)

[2019-01-21 20:16] igordejanovic commented on #155
@goto40 Good question. In this case all rules are match rules so OO reasoning won't work. We could try to do something like:
[code]
And now we have a proper abstract rule `A` and a common rules `B` and `C` and we could reason as `A` is a base of `B` and `C`.

Furthermore we could try to do something similar with another example:
[code]
And here we can say the same for the first rule. But we can't

[2019-01-21 21:34] Aluriak opened #160 "Auto assignation of custom objects attributes"
Hi !

I'm working with textx these days, it's so cool, i love it.

Now, i hate doing the same thing each time, so, instead of writing a custom class like this:

    class Model:
        def __init__(self, commands):
            self.commands = commands
        ...

I prefer to write this:

    class Model:
        ...

But that sounds impossible, without (aggressive or implicit) changes in textx i

[2019-01-22 06:52] goto40 commented on #160
Sounds useful. I had the same 'poblem'. However, I am not a big metaclass expert.

It like the idea.

[2019-01-22 08:43] igordejanovic commented on #160
@Aluriak Yup. Very nice idea. Could be generally useful *but* we have to support Python 2.x also. Thus, no type hinting and metaclass spec. differs between versions (I didn't do a deep dive at this point so the difference might be only at the point of usage). Thus, we should take that into account and cover it with tests that pass for all supported version. And of course, cover the new feature in

[2019-01-22 10:31] Aluriak commented on #160
@goto40 my definitive read-every-time-i-use-it guide is [this stack answer](https://stackoverflow.com/a/6581949/3077939).

@igordejanovic i use [that cheatsheet](https://python-future.org/compatible_idioms.html#metaclasses), when working on compat. I understand the problem ; my (future) PR will adress that.

[2019-01-22 10:50] Aluriak commented on #160
Ok, major revelation (coming between two dreams this night), the metaclass thing is unnecessary if you only need the automatic attribute initialization:

    class ModelClass(object):  # py2 compat
        def __init__(self, **kwargs):
            for name, value in kwargs.items()
                 setattr(self, name, value)

    class Model(ModelClass):
        ...

Also, now i'm thinking on it, a

[2019-01-22 10:54] Aluriak commented on #160
@igordejanovic Just understood that your metaclass snippet was from parglare. I read your blog post few times ago. Really hyped by the incoming parser :)

[2019-01-22 11:44] igordejanovic commented on #160
@Aluriak Yes, it sounds better and more straightforward than using meta-classes.

[2019-01-23 02:23] Aluriak commented on #148
Hello !

I want to tackle this problem, since i needed it few days ago, and will probably need it in the future.
I made a first proof of concept [here](https://github.com/aluriak/textx-dsldoc), showing that something is definitively possible (although it seems that most code is a hand-crafted way to explore the structures… is there any standard visitor implementation ?).

I would like to open the

[2019-01-23 06:50] goto40 commented on #148
Great!

I need some time to look at it.

Quick idea: Showing also the type of the rule (e.g. abstract) would greatly improve the overall compréhension of a grammar. You probably already integrated this idea.

[2019-01-23 09:56] Aluriak commented on #148
Take your time ; maybe just take a quick look to the output html, see what information is missing, that would make for a first feedback.

How can i detect the abstract type ?

[2019-01-23 10:32] igordejanovic commented on #148
@Aluriak Looks really good so far! It would be really nice to integrate it as a part of `textx` command. I guess the best way for this and all further sub-commands would be to have an extensibility mechanism in place (something very similar to what is implemented in [textx-tools](https://github.com/textX/textx-tools/blob/master/setup.py#L59)). In that way all additional sub-command could be an opt

[2019-01-23 10:56] igordejanovic opened #161 "A way to integrate new textX CLI subcommands"
Related to #148 #42

See the initial discussion [here](https://github.com/textX/textX/issues/148#issuecomment-456643632).

The idea would be to provide an extension point for new sub-commands. In that way `textx` cli could be extended by new sub-commands by both official and un-official projects installable using `pip`.

See how it is done in the [textx-tools](https://github.com/textX/textx-tools/

[2019-01-23 12:34] igordejanovic commented on #148
@Aluriak BTW, it is still in early stage but I feel that the `core` part of [textX-LS](https://github.com/textX/textX-LS) should have a lot in common to the analysis geared towards docs generation.

[2019-01-23 13:39] danixeee commented on #148
I agree with @igordejanovic, maybe we can add the command to `textX-LS-core` package. I have already thought about `hover` capability of language server. It would be nice to show grammar rule docstring on mouse hover, like [here](https://raw.githubusercontent.com/palantir/python-language-server/develop/resources/hover.gif).

I am currently working on support for `textxfile` language and I have pre

[2019-01-23 13:59] igordejanovic commented on #148
I think that it is easier for a user to remember just one command `textx` and then query it for further sub-commands. It is prevailing way of work with contemporary complex tools (think `git` for example). LS sub-commands could be grouped under e.g. `ls` sub-command (`textx ls some_command...`).

[2019-01-23 14:02] igordejanovic commented on #148
Moving discussion regarding textx CLI extension to #161 .

[2019-01-23 14:04] igordejanovic commented on #161
@danixeee [asked](https://github.com/textX/textX/issues/148#issuecomment-456804572):

I think that it is easier for a user to remember just one command `textx` and then query it for further sub-commands. It is prevailing way of work with contemporary complex tools (think `git` for example). LS sub-commands could be grouped under e.g. `ls` sub-command (`textx ls some_command...`).

[2019-01-23 17:15] Aluriak commented on #148
Cool. Let's do that well. When do you think you can work on that ? I am obviously a future user of that core, so i'm eager to get info. Until then, i will rely on my own visitors (less classes, more functions, i'm not an oop guy), and maybe that will inspire you.

[2019-01-23 17:39] igordejanovic commented on #148
Great! @danixeee started textX-LS recently and is actively working on it so I guess the two of you could see if and how you could integrate your efforts. I'll see to provide necessary pieces to integrate CLI commands into textX (issue #161).

[2019-01-24 19:05] danixeee commented on #161
I can't extend textX CLI with sub-command. Here is core [setup.py](https://github.com/textX/textX-LS/blob/danixeee/textxfile-lang-support/textX-LS/core/setup.py#L45). I have defined `textx-ls` CLI to check if `langs` command is working.

Here are some pictures:

![image](https://user-images.githubusercontent.com/16227576/51702039-0f058c00-2013-11e9-9cfb-ebdec2f43cd3.png)

![image](https://user-ima

[2019-01-24 20:07] igordejanovic commented on #161
There is no support for extending textX CLI commands in textX yet. I'll work on it in the following days.

[2019-01-24 23:07] danixeee commented on #161
I was looking at `textX-tools` project, I don't know why I thought that `textX` is using it for CLI.

[2019-01-28 07:02] #161 closed, assigned to nobody

[2019-01-28 07:05] igordejanovic opened #163 "Docs for CLI extensibility feature"
See #161 #162

[2019-01-29 12:24] #157 closed, assigned to nobody

[2019-02-03 09:19] #163 closed, assigned to igordejanovic

[2019-02-15 15:26] Aluriak opened #166 "Regression in rule handling"
I was messing around examples in order to test CLI extensibility for doc generation, and got some weird behavior when switching from distributed version to master.

Here is an example:

    import textx

    grammar = """
    DSL:
        commands*=BaseCommand;
    BaseCommand:
        (Require | Group) '.'?;

    Require:
        'require' /[a-z]/;
    Group:
        'group' hello=/[0-9]/;
    ""

[2019-02-15 15:39] Aluriak commented on #148
And… It's done !

Look at [the repository](https://github.com/aluriak/textx-dsldoc), or `pip install textx-dsldoc` (when textx==1.9.0 will be out).

[2019-02-16 13:28] aranega opened #167 "Reference of create"
Hi @igordejanovic,

I was playing with textX and its wonderfu reference system, and I wonder if it is possible to have a rule reference that creates the object first if it does not find it (e.g, like in dot or plantUML). I know that could lead to a mess in the produced model, but I wonder if it currently exists a way of performing such a trick.

Thanks!

[2019-02-16 14:01] igordejanovic commented on #167
Hi @aranega.
I believe this could be done by implementing a custom scope provider that would search the model for the given reference and create the object if is none is found.
Please see [the docs](http://textx.github.io/textX/stable/scoping/).

This part is done by @goto40 so maybe he could give you a hint?

[2019-02-16 15:11] aranega commented on #167
@igordejanovic Thanks so much for the pointer, I was sure that I was missing something!

[2019-02-16 15:11] #167 closed, assigned to nobody

[2019-02-16 18:49] goto40 commented on #167
I created an example. However, I see some limits. The example will, thus, not work in more complicated scenarios. There, you may need to return a "Postponed" for other lookups for persons, which do not find their reference (since the reference *may* be defined by a later lookup). See #168

[2019-02-17 09:43] goto40 commented on #167
With this change, we overcome the problem when referencing objects invented by another lookup (in the future) with our postponed mechanism. See example and the docu in the test.

[2019-02-17 09:56] aranega commented on #167
Thanks a lot @goto40 . I will play with that today. For my scenario it should be enough. The idea is to bridge plantUML syntax with pyuml2 (UML2 implementation in Python). I'm sure it should be enough! Thanks again!

[2019-02-18 20:07] goto40 opened #169 "Export problems (textx visualize)"
Some grammars yield unexpected effects, when visualized:

## first_diamond.tx
[code]
Here, we get a number instead of "MyDiamondRule".

## first.tx

[code]
Here, I miss fourth.tx/Second which is used by third.tx/third of type "Second" (from fourth.tx), not to be confused with secondtx/Second.

[2019-02-18 22:19] dpturibio opened #170 "Scoping issue - problems to do a cross-ref of a variable with same name in two different contexts"
Hello guys, I would appreciate your help in order to resolve this cross-referencing issue.
In the grammar bellow, I need to recognize var1, var2 and var3 as belonging to its context(ZventoA and ZventoB) without conflicts:

[code]

But I have the following output when running the code above:
[code]

When I change the name of var1 of event ZeventB to, for example ZeventB (var1aux,var2,var3), then th

[2019-02-19 05:56] goto40 commented on #170
Hi. Thank you for question.

Can you try with the fqn scope provider? This should work. http://textx.github.io/textX/stable/scoping/

[2019-02-19 05:59] goto40 commented on #170
Note: The fqn scope provider identifies each element by its full hierarchical name (e.g. 'ZeventA.var1'), but also allows relative names, like 'var1'.

[2019-02-21 14:45] igordejanovic opened #171 "Preparing release v2.0.0"

[2019-02-21 15:26] goto40 commented on #171
What has to be done for 2.0.0?

[2019-02-21 16:53] igordejanovic commented on #171
I guess we should resolve pending PRs (at least what is possible at the moment) and update CHANGELOG with note on all backward incompatible changes.
There is a lot of your work in the pending PRs so I must run through all of those and see what is ready. I will look into it in the following days.

[2019-02-21 17:39] goto40 commented on #171
Understood. Ok.

[2019-02-22 14:46] Halbeard commented on #44
Is there any update on this issue?
I'm writing a markdown like DSL that is intended to be user extendable and this is basically the only thing that forces me to choose arpeggio over textx.

[2019-02-22 16:13] igordejanovic commented on #44
Hi @Halbeard No, unfortunately, there is no progress on this issue at the moment.

[2019-02-24 12:12] igordejanovic opened #172 "Add `--base-types` option for `visualize` textx command"
By default base types are always rendered in the `textx visualize` command. That is distractive, especially for small models.

By default base types should be rendered only if explicitly asked for using `--base-types` CLI switch.

[2019-02-24 12:24] igordejanovic commented on #107
See some of the discussion in #109
This issue (and more) should be handled by #111

[2019-02-26 00:41] dpturibio commented on #170
Thanks for the answer.
Is there any more detailed documentation to understand better how fqn scope provider works? I am a little confused yet in how to use in this case.

[2019-02-26 06:03] goto40 commented on #170
Have a look at the unittest referenced in the docs: https://github.com/textX/textX/blob/master/tests/functional/test_scoping/test_full_qualified_name.py

The FQN scope provider works much like scope provider in programming languages like Java works (look in the local scope first).

Note: you need to 'activate' the dot in the name ('FQN' rule). In your case, only names in the local scope are requir

[2019-02-26 06:35] goto40 commented on #170
I will prepare your example tonight or tomorrow...

[2019-02-26 18:23] goto40 commented on #170
Here is  the adapted example.
I added
[code]
and some asserts to demonstrate the functionality.

I hope my explanations above help to understand. Do not hesitate to ask more questions! Thank you for the interest.

[code]

[2019-02-26 18:27] goto40 commented on #170
Maybe you want to give you Repetitions a name (to identify the objects):
[code]

[2019-03-08 15:12] zilakmarian commented on #171
Will v2.0.0 support python2.7 or are there plans on dropping python2 compatibility?

[2019-03-09 10:02] igordejanovic commented on #171
@zilakmarian There are no plans for dropping Python 2 support yet. We will support it as long as there is a support in the tools we are using for development/testing.

v2.0.0 will be just a start of using semantic versioning where we'll increase major version number with each backward incompatible change. So expect that major versions will increase much faster now, but it should be safe to do upgr

[2019-03-09 14:24] #123 closed, assigned to nobody

[2019-03-09 14:27] #140 closed, assigned to nobody

[2019-03-29 17:21] igordejanovic opened #175 "Language registration/discovery"
I'm starting this discussion as we are in a growing need of organizing multiple
languages/meta-models in a consistent way.

There was [the project](https://github.com/textX/textx-tools) that meant to deal
with the problem of consistent organization/registration and discovery of
languages and compiler/generators. The project has been dormant for a longer
time now and I think it is the time to reviv

[2019-03-29 18:17] goto40 commented on #175
First, I like the ideas you sketched above very much!!

The following points come to my mind:

 * Extension conflicts should pose no problem, since the language itself is specified as well. Note, that the MetaModelProvider cannot take the role of managing the extension-to-language mapping: extension conflicts could break multi-metamodel logic... (?)

 * For an editor or workbench we could have nic

[2019-03-29 20:59] goto40 commented on #175
I like the idea of the common **validate command** (except from my name clash thoughts).

I just played around with a simple Tk-Treeview of a model. This would also be a possible common command: **inspect model**.

As you mentioned, all the exports would just be (generic) code generators. I like this idea very much...

[2019-03-30 08:55] igordejanovic opened #176 "Release process"
It is a time to define some lightweight process that will govern textX development and the release process.

Here is a suggestion:
- We are moving to semantic versioning and a standard format to keep changelogs (see [CHANGELOG.md](https://github.com/textX/textX/blob/master/CHANGELOG.md)).
- We develop features on feature branches. Feature branches are named `feature/<feature name>`.
- We fix bugs

[2019-03-30 09:34] igordejanovic commented on #175
If you mean file extensions as they might be non-unique, you are right, that's why there should be a language name provided which is a unique ID. In all commands and APIs if the name is not provided it is deduced from the file extensions but if there are multiple languages with the same file extensions an exception should be raised and the language name should be provided in that case.

Furthermor

[2019-03-30 09:56] goto40 commented on #176
Very good!

How do we create feature/bugfix branches? Naming conventions?

[2019-03-30 11:17] danixeee commented on #176
When we discover and fix a bug that exists in _all_ major releases, how we are going to handle it?
I guess fixed bug can be merged to master and the lts release can be tagged with increased version (e.g. v2.4.2). For non-lts releases we will create a release branch from a tag (e.g. v1.2.3), update changelog, etc and release bugfix from there, am I right?

[2019-03-30 12:29] igordejanovic commented on #176
We can use `feature/feature_name` and `bugfix/issue...`.

Yes, bugfix branch is merged to master and a new bugfix release is produced by increasing the third digit in the version number, tag is created. I don't think that we should support all major releases but we could support previous major release for some time. If so, we could cherry pick the bugfix to the maintenance branch of the previous v

[2019-03-30 13:10] danixeee commented on #175
I like the idea. I have already implemented some of those stuff in [textX-LS-core](https://github.com/textX/textX-LS/tree/danixeee/language-installation-mechanism/textX-LS/core) project, but it does make sense to move it to `textX`.

![image](https://user-images.githubusercontent.com/16227576/55276365-54845500-52f3-11e9-80e9-b3b6a4966bdb.png)

Based on a file extension, appropriate grammar is used

[2019-03-30 13:36] igordejanovic commented on #175
I don't think we should replace LS registration/support. The LS specific stuff should remain registed in `textxls_langs` EP. I just wan't to move pure generic language stuff to the textX so that we get all the benefits from the CLI, while LS support could provide LS stuff (e.g. code completion, outline etc.). For example, instantiating meta-model for the given language should be handled by textX a

[2019-03-30 19:25] danixeee commented on #175
Should I wait with my [issue](https://github.com/textX/textX-LS/issues/12) until this task is completed and see how can I combine _textX_ and _textX-LS_ to support language installation from VS Code? Or I will switch to try if I can programmatically (un)install extensions without restarting VS Code instance.

I guess I was looking at VS Code's manifest `package.json` file and saw that they support

[2019-03-30 21:19] igordejanovic commented on #175
You can look at #177 as the basic idea is layouted so we can work together on aligning textX core and textX-LS. I plan to write somes test tomorrow and try to rework some of the existing textX commands. (Un)installing extensions in VS Code without restart would be really cool but I don't think it is crucial at this point.

[2019-04-09 15:16] igordejanovic opened #179 "CLI command to generate/scaffold language or generator textX project"
Since we have now issue #175 in progress in PR #177 and there is a way to register new textX CLI commands (#161) it would be nice to have a textX command to quickly create a initial version of either language or generator project.

For example:
[code]
Similarly to what is done in [textx-tools](https://github.com/textX/textx-tools#quick-intro)

[2019-04-09 16:23] danixeee commented on #175
@igordejanovic I have implemented an initial VS Code extension generator which uses grammar file and produces `.vsix` file. Can we pass (and does it make sense) additional data to generators (see [this](https://github.com/danixeee/textx-gen-vscode/blob/master/textx_vscode_gen/__init__.py#L35))?

EDIT: I am using hardcoded syntax file, because my plan is to have another generator which will know ho

[2019-04-09 16:35] igordejanovic commented on #175
I guess we should pass additional, generator-specific, data. I'm investigating possible approaches.
BTW, I'm in the process of changing the signature of the generator callables slightly to pass in the meta-model and the `debug` flag.

Yes, it makes perfect sense.

[2019-04-10 19:33] goto40 opened #180 "Local registration to ensure sublanguages to be "statically linked""
**Use case**: a language L1 uses a language L2. If  'another' language "L2" is installed it could break the language L1.

Local registration solves this problem.

**Possible solution** (discussion):
 * We could allow to pass an optional (new) "Registration-Object" with LanguageDesc objects inside when creating a meta model.
 * This local "Registration-Object" would override global registration in

[2019-04-10 21:14] danixeee commented on #180
There are at least two solutions:

- to have _different_ _virtualenvs_ and avoid language collision
- to allow languages with the same name/extension, but to implement local registration

right?

If we choose the first solution then I have to change `textX-LS` architecture. Currently when extension is installed, _one_ _virtualenv_ is created in it and all necessary requirements are installed there

[2019-04-11 05:05] goto40 commented on #180
Virtualenvs are an orthogonal concept to me: even with virtual envs you can get collisions, since you cannot control (1) dependencies installed inside the venv and (2) cannot control the libraries you 'inherit', when creating a venv. Am I right?

But you can surely find more than one solution to the problem described above.

[2019-04-11 05:30] goto40 commented on #180
@danixeee, I think this issue/ticket is of low priority, since we already see solutions, which are easy to integrate. Local registration is surely not design critical, at the moment.

For you excellent work, I think, you can focus on global registration. Once we have collected experience with the editor support, we can go further here...

[2019-04-11 06:15] igordejanovic commented on #180
@goto40 Exactly. It's better to wait some time until we gather more experience with multiple languages used inside textX-LS. We'll be able to make a better decision then.

[2019-04-27 11:40] igordejanovic commented on #166
Thanks for the report and sorry, I totally missed this issue. Stumbled upon it today as I was working on some object processor calling issues.

This do look like a regression related to #134 and #128 and indeed this PR introduced check that disallows referencing multiple rules from a single alternative of abstract rule. In this case it seems that it got it wrong.

I'm investigating the issue.

BTW

[2019-04-27 12:51] igordejanovic opened #182 "Object processors on terminal match rules not called"
Issue found in [SO post](https://stackoverflow.com/questions/55862851/how-to-write-a-textx-grammar-rule-to-detect-standard-datatypes-without-modifying/55864879)

To reproduce:
[code]

[2019-04-27 16:22] #182 closed, assigned to igordejanovic

[2019-04-27 16:53] igordejanovic commented on #96
@Geniedesalpages This issue is now fixed on master. The calls to match rules are done on all levels. The inconsistency in nested rules [I mentioned before](https://github.com/textX/textX/issues/96#issuecomment-435680121) is fixed so that in case you have a nesting match rule with multiple parts (like `'+' ExplicitFloat`) everything will get converted to text and concatenated. Please see [this test

[2019-04-27 18:50] #166 closed, assigned to igordejanovic

[2019-04-27 18:57] #96 closed, assigned to nobody

[2019-04-27 21:51] Geniedesalpages commented on #96
Very cool, I will use it as soon as it's in a release! Is there another release planned before 2.0.0?

[2019-04-28 07:41] igordejanovic commented on #96
I think not as the 2.0.0 should be released very soon.

[2019-05-08 20:13] goto40 commented on #176
I merged my last PR into master... I am not sure when we start with the new process.

Also I am unsure concerning how to handle "Possible BICs"... According to our plan, possible BICs should also go into the NEXT.VERSION-branch, and not into master?

I hope I did not mess up things with my PRs...

[2019-05-08 23:17] Aluriak commented on #176
Just sharing a counter-proposition for the whole branching strategy: [git flow](https://nvie.com/posts/a-successful-git-branching-model).

In short, it is articulated around [two main branches](https://nvie.com/posts/a-successful-git-branching-model/#the-main-branches), dev and master. Master is always releasable, and dev is preparing next version.

Maybe we don't need all the bells and whistles a

[2019-05-09 08:57] igordejanovic commented on #176
@goto40

Everything is OK. :) I think we should start with the new release process with the 2.0.0

Yes, I think that would be a correct approach. If we suspect that something might cause trouble in upgrading we should schedule it for the next major version release. The idea is to assure the stability of the master branch and all minor version upgrades. User should generally declare version compati

[2019-05-19 09:25] wryun opened #188 "Whitespace tokens are not processed"
When skipws is False, if I create a whitespace token it seems to be skipped. For example

[code]
The following error is thrown:
[code]

However, it parses successfully if I instead replace `' '` with the equivalent `/(?i) /` (note that `/ /` does _not_ work, presumably because it simplifies to `' '`...).

[2019-05-19 12:35] goto40 commented on #188
I created a branch and added a testcase for it: bugfix/issue188

[2019-05-19 12:56] goto40 commented on #188
After playing around: I encounter the same effect you observed with "noskipws":
[code]

[2019-05-19 15:01] goto40 commented on #188
Intermediate result:
It seems that leading whitespaces are removed when building the grammar.
  * " x" --> "x" (space removed)
  * "x y" --> "x y" (ok)
  * " " --> "" (space removed)

[2019-05-19 15:16] goto40 commented on #188
@igordejanovic : Is it the case, that in lang.py we define strings as sequence of three parts,
 * ```'```
 * text
 * ```'```,
but, we do ignore whitespaces between these three parts?

If yes, do you see a simple solution to this (except the workaround sketched by @wryun to use a regepx without a plain whitespace)

See lang.py:
[code]

[2019-05-19 16:22] igordejanovic commented on #188
It was definitely a bug. Thanks @wryun for reporting and @goto40 for analysis and providing the tests.

It is fixed on branch `bugfix/issue188`. This change also provide a fix for another subtle error I didn't notice before.

@goto40 If everything is ok on your side this will be merged for v2 release that is about to happen :)

[2019-05-19 17:53] goto40 commented on #188
OK for me. Good work. Just merge the branch...

[2019-05-19 20:37] wryun commented on #188
Thanks for the super fast response and fix!

[2019-05-20 06:08] #188 closed, assigned to nobody

[2019-05-20 06:09] igordejanovic commented on #188
Merged to `master`

[2019-05-20 10:18] wryun opened #189 "No trivial way to use pos_to_linecol within object processor"
If you register an object processor, there appears to be no obvious way you can find out the line/column number to report a failure, because this relies on the parser which is only available at the top-level (and if you throw an exception in the object processor, the top level model won't be returned...). This would be particularly useful when trying to execute a language as it is parsed.

Persona

[2019-05-20 10:22] wryun opened #190 "Lookahead behaviour is confusing when 'nothing else to match'"
As initially raised in https://stackoverflow.com/questions/56206580/lookahead-inside-or-clause-failing-in-textx/56210085 :

The following throws an exception for me (on line 9), complaining that `Expected '.' at position (5, 15) => 'k foo bar *end '.`:

[code]

However, it parses successfully if I write what I think is an equivalent grammar:

[code]

@igordejanovic pointed out that this is because

[2019-05-20 11:31] wryun commented on #160
@Aluriak the incredibly dirty thing I'm doing is letting textx create its default classes then automagically monkey patching methods on afterwards based on naming conventions. One probably shouldn't do this.

[2019-05-20 12:06] igordejanovic commented on #189
Yes, you are definitely right. Getting line/col is not very intuitive. One would have to do something like `get_model(obj)._tx_parser.pos_to_linecol(obj._tx_position)` which is not either easy nor readable.

The main idea of having an underscore `_tx_` attributes is to prevent name-space pollution of the domain model which might be provided by the user so having `get_linecol()` directly on model c

[2019-05-20 13:26] igordejanovic commented on #176
I have updated the initial proposal based on the discussion.

[2019-05-20 14:32] igordejanovic opened #191 "v2.0.1 Release"
I'm announcing a new major release. From now on we are using semantic versioning so only major releases will bring backward incompatible changes.
See more about the release process [here](#176).

Due to hickup in the uploading to PyPI I had to increase bugfix number. Thus the first release in v2 serie is 2.0.1.

There are a lot of changes in this release, the most notable being a new [registration

[2019-05-23 10:19] igordejanovic commented on #105
As of #120 textX strictly requires unicode.

[2019-05-23 10:19] #105 closed, assigned to nobody

[2019-05-23 10:20] igordejanovic commented on #117
This should not be an issue anymore as of #120 unicode is required.

[2019-05-23 10:20] #117 closed, assigned to nobody

[2019-05-29 15:33] goto40 opened #193 "Object processor execution order"
Somehow it seems we lost a change in the docs:
https://github.com/textX/textX/pull/184/files

In addition to this, we could allow to specify whether an object processor is executed before or after scope resolution, or automatically (default behavior, see missing docs in the referenced PR above).

This would allow users to handle cases like the ones mentioned in https://stackoverflow.com/questions/

[2019-05-29 16:04] igordejanovic commented on #193
Very strange. Although the GitHub interface shows that the branch was merged it was left hanging unmerged. I've just merge it and publish the docs.

I'm not sure that we should officially support such very specific use cases (where name gets changed in object processors). In those cases user should choose what (s)he feel is the right approach and implement it accordingly. As a last resort resoluti

[2019-05-29 16:22] goto40 commented on #193
For me it sounds useful to be able to transform the model prior to scope resolution : we do the same for object processors working on match rules.

The feature has a clear use case (transform the model prior to scope resolution), a defined interface (e.g., based on a base class), and is not a BIC.

Name adaptations could be an additional valid use case, as well...

[2019-05-29 17:08] igordejanovic commented on #193
Ok. Sounds good. If you see a clear path to implement it in a backward compatible way that would not increase complexity and you would like to work on it then go ahead :)

[2019-05-29 17:17] goto40 commented on #193
Alternatively, the problem could be solved with a user defined class: the name is deduced when constructing the element...

That would be even simpler...

[2019-05-29 17:36] goto40 commented on #193
I will give it a try and the see what to propose to the user on SO...

[2019-05-29 17:46] igordejanovic commented on #193
That would definitely be simpler although user would have to provide user classes for all model object where name change/definition is necessary.

[2019-05-31 09:36] goto40 commented on #193
## Problem

* **Use case** (https://stackoverflow.com/questions/56362019/textx-how-to-generate-object-names-with-objectprocessors): define the name of an object based on other model elements, including a reference to other model elements.
* **Object processors** are executed at defined stages during model construction (see http://textx.github.io/textX/stable/scoping/#using-the-scope-provider-to-mo

[2019-05-31 10:16] goto40 commented on #193
Initial implementation looks good. No BIC.

[2019-06-02 08:39] igordejanovic commented on #193
High level overview sounds good although I can't clearly see without trying actually to implement it how much more complexity we are bringing in. Especially how can we know if some rule/metaclass will get name from object-processors instead of a reference being an error in the grammar (referencing a rule that has no name).

[2019-06-02 10:26] goto40 commented on #193
You are absolutely right. We should deeply think about what to do here.
For me, we could also postpone this change into TEP-001... (see PR #194).
However, the SO-user will then have to wait...

Take your time to think about it. We can discuss in the PR about it.

Custom name resolution is a big issue for me, after reading this SO comment. Check also the example, where I used the custom naming to i

[2019-06-02 10:34] goto40 commented on #193
I am unsure how fast to reply on SO. We have ongoing (internal) discussions here. It would help to involve the SO user - but our internal discussion may not fit into the SO context?

[2019-06-02 10:38] goto40 commented on #193
The proposed name resolution logic is definitvely on scope  provider level (not on object processor level), since names are being "Postponed()" (in addition to references which may be Postponed()).

The concept of name resolution could - in my eyes - be easily included in our TEP-001 plans. We will just postpone anything, where postponed names are involved... (to be analyzed critically). - Like it

[2019-06-02 10:56] goto40 commented on #193
Without having the SO request, I would favor to postpone the change and move to TEP-001.

[2019-06-02 13:47] igordejanovic commented on #193
@goto40 Thanks. Will do the review of #194

I agree. TEP-001 is the next big thing so it is better to focus on it and see how can we incorporate this use-case. No point in wasting energy on something that will be reworked in the near future.
If you wish you can provide the answer about current possibilities and workarounds and links to this discussion to SO, one being a use of #194 branch until we

[2019-06-04 15:37] goto40 opened #195 "BIC: Change `scope_redirection_logic` to `scope_redirector` in the future."
In `scopying.md`:
Change `scope_redirection_logic` to `scope_redirector` in the future.

[2019-06-14 06:57] danixeee opened #196 "model_from_str: Allow passing file_name argument"
This is needed for VS Code extension.

When model file is opened in VS Code, server receive events on document changes (text) and that is a reason why I need to call `model_from_str`. Calling `model_from_file` would work if document is saved, but we want to validate model while changing it.

I need either to pass `file_name` (file path) as an argument to method `model_from_str` or to call `model_f

[2019-06-14 07:41] goto40 commented on #196
A first workaround could be to use `pre_ref_resolution_callback` from `model_from_file` to set the filename... But we should analyze your issue in detail, because it is a fundamental need of an editor on my eyes.

I am not sure if the workaround is safe for multi file models...

[2019-06-14 09:28] igordejanovic commented on #196
@danixeee It seems that we already have that. See [this](https://github.com/textX/textX/blob/master/textx/metamodel.py#L57). `model_from_file` is just a thin wrapper around `model_from_str`. Have you tried to pass in `file_name` param?

@goto40

You are right. Even without workaround we should check if this will work in multi file models (errors, positions ...)

[2019-06-14 18:25] danixeee commented on #196
@igordejanovic You referenced `metamodel_from_str`, but yes, it would be enough to do the same for [model_from_str](https://github.com/textX/textX/blob/master/textx/metamodel.py#L548). [parser.get_model_from_str](https://github.com/textX/textX/blob/master/textx/metamodel.py#L560) already has `file_name` parameter.

@goto40 I will try the workaround, thanks!

[2019-06-14 20:18] igordejanovic commented on #196
@danixeee Ah, yes, sorry. I believe that `get_model_from_str` should do the trick.

[2019-06-14 21:35] danixeee commented on #196
`**kwargs` [here](https://github.com/textX/textX/blob/master/textx/metamodel.py#L641) would be helpful, also.

I am having some issues when parsing models which use providers.

Model is opened and validated for the first time:

![image](https://user-images.githubusercontent.com/16227576/59539030-0a773c80-8efc-11e9-9ed9-8176451bca19.png)

Then I hit "enter" which keeps model valid, _but_ parsing di

[2019-06-15 05:58] goto40 commented on #196
Hmm. It seems, the error comes from the types meta model. This is strange.

It is OK to use the same meta model. But take care to update the model repository correctly (I don't think doing this wrong induces the observed effect).

I played around with updating the model repository. I have to check tomorrow, if I find the branch... --> did not find.

Ignore the model repository in the first place.

[2019-06-15 06:07] goto40 commented on #196
Can you open the file on the command line without getting the validation error?

Maybe there __is__ a validation issue in the included file, but somehow after reloading the root model, the included model is not re-vaiidated (this would be a bug in my eyes)

[2019-06-15 09:40] igordejanovic commented on #196
@danixeee

Just go ahead and add whatever you think would be helpful for textx-LS and make a PR.

[2019-06-16 10:07] igordejanovic commented on #196
@danixeee I suggest you to make a textX branch and a long running PR (open it as soon as you start making changes) that collects all changes to textX necessary for textx-LS. You will use that branch/PR during work towards releasing textx-LS. When the time for the release comes we will also release a new version of textX with the merged PR changes. In the mean time @goto40 and I could track and com

[2019-06-16 10:40] goto40 commented on #196
@danixeee good work for what I see. A note to dependent models (including each other): the model repository holds a list of all models and model files of which the current model depends. I will add a demo/unittest (see #197).

The simplest way to to update a model is to reload it...

[2019-06-17 11:41] danixeee commented on #196
@igordejanovic Sure, will do that.

@goto40 One way to test this is to load meta-model and parse `data_flow_including_error.eflow2` two times in a row.

[code]

[2019-06-18 18:41] goto40 commented on #196
@danixeee : I analyzed your example. Good work, good catch!! See #198 for further discussions.

[2019-06-18 20:21] danixeee commented on #196
@goto40 That was a quick fix, thank you. I will test your branch from `textX-LS` and notify if everything is ok.

[2019-06-19 11:51] fzipi commented on #54
@igordejanovic In fact, one of the things that I miss the most is not having access to the comments, for example, when transpiling things. We just lose the comments.

I would like to have a flag to conserve them.

[2019-06-19 13:20] igordejanovic commented on #54
@fzipi Totally agree. Actually, that is something I had been planning for quite some time. It requires [some work in the Arpeggio](https://github.com/textX/Arpeggio/blob/master/arpeggio/__init__.py#L721). I thought that the issue for this is already registered in the tracker but it seems that I was wrong. Please feel free to register the feature request.

[2019-06-19 14:39] fzipi commented on #54
@igordejanovic Super, will do! Thanks for your support :)

[2019-06-19 15:49] fzipi commented on #54
Created https://github.com/textX/Arpeggio/issues/56.

[2019-06-21 07:33] danixeee commented on #196
@igordejanovic I am not able to push a branch to textX project, should I work with a forked repo?

[2019-06-21 08:36] goto40 opened #199 "Enhancing model caching to automatically reload model when they changed (e.g., on disc)"
I would like to enhance model caching to allow to automatically reload models (e.g., from disc) when models changed (e.g., on disc).

Need further analysis to understand how to allow a seamless integration into the (scope provider) logic of different predicates. Possible predicates:
 - date of file changed
 - MD5 of file changed
 - in-memory representation within an editor changed (?)

Also allow

[2019-06-21 08:54] igordejanovic commented on #196
@danixeee No need to fork. I've gave you write access so you can work directly.

[2019-06-21 09:01] igordejanovic commented on #199
Good idea but not sure where this should fit. Should it be done in the core textX or should we do that in textX-LS? We should definitely have some generic extension mechanism in the model loading/caching process that could be used to implement this. There are many ways we could detect model changes. By pooling date/MD5 as you suggested or by using some platform specific feature like [inotify](http

[2019-06-21 09:12] goto40 commented on #199
I had the idea to provide some callback mechanism to hook-in the scope provider logic caching files. This hook could be implemented by textx-ls.

Let's think about it...

[2019-06-21 09:19] goto40 commented on #199
If you have ideas, we can collect requirements / use cases here... (for the new mechanism).

[2019-06-21 13:11] danixeee commented on #199
I have already started implementing this in `textX-LS` (not yet completed).
When textX language project is installed in _editable_ mode, file system watcher is registered for its project path. When `.tx` files are changed extension is regenerated and updated (see [this](https://github.com/textX/textX-LS/blob/danixeee/textx-view-container/client/src/services/projectService.ts#L160)). I need to add

[2019-06-21 14:22] goto40 commented on #199
Hm. Not sure.

If we can handle it completely within textX-ls, perfect. Maybe we need support from the textx core api.

Check the use cases above. We should define what should happen when files and included files are modified. When to reload files...

I think we may need an api call to invalidate cached files... Maybe the new `get_included_files` api function is enough?

[2019-06-21 14:26] goto40 commented on #199
However, I think we should focus on model files (e.g., `*.eflow`) and not meta model files (`*.tx`, `*.py`).

The end user wants to use the dsl, not to develop the dsl...

[2019-06-21 14:46] igordejanovic commented on #199
Actually, we have two classes of users, DSL designers and DSL users. We are targeting both with our tools.

[2019-06-21 14:49] igordejanovic commented on #199
Maybe we need a call in textX to properly invalidate cache based on the path that has been changed. In that way we leave to the user of the library (in this case textX-LS) to implement mechanism to detect which file has been changed.

[2019-06-24 18:19] dpturibio commented on #170
@goto40, thanks a lot for your help so far. Let me ask you one more thing. I have the following grammar:
[code]

used the metamodel structure:

[code]
and my model code as follows:

[code]

What should I do to make varA from "start" structure be linked with varA in "eventA" definition?
Because this code throws this exception:
`Error in model:  None:9:8: error: Unknown object "varA" of class "Varia

[2019-06-26 05:08] goto40 commented on #170
You can use the RelativeName scope provider for such cases (references in Start). The difficulty in your case is that you have the Start and the Event1 both using Repetitions. I will analyze your example. I fear we need a custom scope provider...

Note:TEP-001 will probably make your example easy to specify...

[2019-06-26 15:43] goto40 commented on #170
Added example, see #201
Is is quite simple to select a scope provider according to the underlying data structure.

@igordejanovic: Although TEP-001 will probably ease such things...

[2019-06-26 17:30] goto40 commented on #170
Merged #201: Now you have a new demo as unittest [`test_combined_scope_provider`](https://github.com/textX/textX/blob/master/tests/functional/test_scoping/test_issue170_combined_scope_provider.py) (your example), which defines a combined scope provider (`MyScope`):

Depending of the underlying data structure (`if textx_isinstance(obj.parent, self.meta["Start"]):`) one of two scope providers is sel

[2019-06-26 17:34] goto40 commented on #170
Note: In the new example we use the `RelativeName` scope provider to specify the "way through the model" to find the list of named objects to be used to resolve the reference. `RelativeName` also handles postponed references correctly.

If you have a logic to decide what to do in your custom scope provider involving other references, then you need to handle unresolved references as well. In the gi

[2019-06-27 23:50] dpturibio commented on #170
Thank you very much for the example. It did the trick.
Another question: if there is more than 1 error in my code, just the first is thrown. Is there any way to obtain the subsequent ones?

[2019-06-28 04:39] goto40 commented on #170
At the moment there is no way. But you can make a feature request... It is a good idea!

[2019-06-28 13:08] dpturibio commented on #170
Issue resolved. Thanks for @goto40

[2019-06-29 13:38] dpturibio opened #202 "Feature (request): throw more than on error at time"
While developing a Language recognizer for a specific language that my team created for Magnetic resonance, that will work in Spyder Ide, I found that when I compile my model from code, and something does not match, only one error is thrown.

[code]

I would like to propose that when exist more than one error in the code, that a vector with the subsequent errors can be thrown, as this characterist

[2019-06-29 16:03] goto40 commented on #170
We do not close question issues to make them more visible...

[2019-06-29 16:19] goto40 commented on #202
Here, I try to **summarize what problems can occur**, while loading a model:

 * **Parser** problems (syntax)
 * **Reference resolution** problems ("object not found")
 * **Object processor / validation** problems (custom semantic checks)

Any problem can either **(1)** allow to collect further problems (new behavior possibly included in this *new feature*) or to **(2)** stop the entire process of

[2019-07-10 17:09] igordejanovic commented on #202
For reporting multiple syntax error in a single file a parser should be able to recover from an error and continue. To do error recovery parser state must be manipulated.
Generally it is very hard to do error recovery when the most of the parser state is kept implicitly on the call stack and that is the case for practically all PEG parser (at least to my knowledge) as the most straightforward way

[2019-07-10 17:21] goto40 commented on #202
Errors while resolving references could reported together.

Errors in object processors remain a point to clarify. It could help to distinguish between 'validators' and modifying processors. Errors from validators could be collected. Errors from modifying processors should probably stop the loading process... However, we do not distinguish between processor types.

[2019-07-10 17:35] igordejanovic commented on #202
I agree. Error in modifying processors might impact further processing which might yield multiple false errors. Syntax error recovery is usually a heuristic algorithm so is very similar in that regard. Usual way to deal with the problem is to limit the number of errors reported. Say, we report up to 10 errors and stop loading if there are more.

[2019-07-25 06:29] paulocoutinhox opened #203 "This is possible with textX?"
Hi,

I want create a djinni DSL parser because the project was stopped:
https://github.com/dropbox/djinni/blob/master/test-suite/djinni/yaml-test.djinni

This is possible with TEXT X?

More samples to understand:
https://github.com/dropbox/djinni/tree/master/test-suite/djinni

There is any help here to start parsing interfaces, records, constants, enums with TEXT X?

Thanks.

[2019-07-25 07:32] goto40 commented on #203
In principle, the task of parsing seems possible (without having checked details).

However, parsing is only a very small aspect. Think of all the validation of the model (documented __and__ undocumented aspects!) and all the target language specific tweaks...

I am a very big fan of our textx (great tool, easy to use, few dependencies)! But you should also check if it is maybe cheaper to maintain

[2019-07-25 08:09] paulocoutinhox commented on #203
Ok. I understand. I know everything about what i need do and how to write a parser like djinni in the same model of original, only reading line by line. But i want use some python parser to be more concise.

But im confused about how it works. Because i only see simple examples of parsing only a small set of things.

To parse djinni i will need parse some different syntax and objects:

RECORDS:

[

[2019-07-25 09:30] igordejanovic commented on #203
Since this language, if I understand, describe structural aspects the best example to start from is [Entity](https://github.com/textX/textX/tree/master/examples/Entity).

You have already identified language concepts so it is easy to start by making textX rules out of them.

Like, for example:

[code]
Try to run through some of [the tutorials](http://textx.github.io/textX/stable/tutorials/entity/)

[2019-07-25 09:30] Geniedesalpages commented on #202
I would also like to be able to "skip" a syntax error, by adding some kind of resolution function `f` that is called when for instance a `';'` is expected. `f` then feeds the parser a virtual ';' and the parser tries to resume. Given the the current parsing stack and character more complex behaviour would be possible (`,` replace with `;`).

[2019-07-25 09:50] igordejanovic commented on #202
Would be nice to have but it is not easy in PEG packrat parser. For that to happen parser would have to restore its state where it expects `;` in the input stream and restoring state with recursive descent parsers if possible would be very hacky I guess. I don't think that is something that will be implemented soon in textX due to the amount of work necessary for both research and implementation.

[2019-07-25 11:56] Geniedesalpages commented on #202
Ok, that makes sense, thanks!

[2019-08-05 07:26] igordejanovic opened #204 "An option to retain and have access to whitespaces and comments"
Needed during transpiling, refactor, code augmentation etc.

See [here](https://github.com/textX/textX/issues/54#issuecomment-503527852)

Related to https://github.com/textX/Arpeggio/issues/56

[2019-08-05 17:06] Aluriak commented on #204
Something like lossless syntax tree ? Many projects are using it, including [oil](http://www.oilshell.org/blog/2017/02/11.html) and the python package (red)[baron](https://github.com/PyCQA/baron).

[2019-08-06 07:29] igordejanovic commented on #204
Exactly. The idea is to keep layout information. In the [hello world example](http://textx.github.io/textX/stable/tutorials/hello_world/) in point 3 it is referred to as `syntactic noise`. Those parts could be kept e.g. as a string on the next element in the model. E.g. keeping word `hello ` with  space after on the first `Who` object. This is just the basic idea. I expect a lot of corner cases he

[2019-09-16 11:47] wryun opened #205 "skipws at higher levels seems to affect skipping at lower levels in strange ways"
For example, the following program returns '1', whereas I believe it should return '2' (i.e. it incorrectly matches the first choice in Word, rather than matching the first and the second).
[code]

If you remove skipws from SGroup, it returns 2. As far as I can see, this should have no effect on the parse in question.

[2019-09-16 11:57] wryun opened #206 "Can't use / */"
[code]
Leads to:

[code]

Presumably the space is getting stripped... it works if one adds a `(?i)` to the regex or uses the character class `[ ]`.

[2019-09-16 12:13] wryun opened #207 "$ doesn't swallow the '\n' if skipws=False"
e.g.

[code]

behaves differently to:
[code]

I think it's more natural if they're equivalent.

[2019-09-16 12:14] igordejanovic commented on #205
Initial discussion [at SO](https://stackoverflow.com/questions/57944531/how-do-you-correctly-mix-textx-skipws-non-skipws)

[2019-09-16 12:14] igordejanovic commented on #206
Initial discussion [at SO](https://stackoverflow.com/questions/57944531/how-do-you-correctly-mix-textx-skipws-non-skipws)

[2019-09-16 12:16] igordejanovic commented on #205
@wryun Thanks for all reports.

[2019-09-18 19:11] goto40 commented on #206
Thank you for the investigation and the report. It seems to be a bug to me.

The reason is that leading and trailing white spaces are ignored in regular expressions. The fix is quite straight forward - however it has an minimal influence on existing code relying on the "feature" of ignoring the leading/trailing white spaces.

We discuss this in #208.

[2019-09-18 19:42] goto40 commented on #207
Thank you for the report. First, I was intuitively convinced by the observation to be a bug. But playing around with the re-module made me look up the documentation:

I think this is not a bug. As stated in [python docs for the re-module](https://docs.python.org/3/library/re.html)

 * Changing the functionality of textx-grammars to consume a newline with "$" would break with the re-module specific

[2019-09-18 20:06] goto40 commented on #205
Hmm. Good example. It seems that the ```skipws```-attribute is inherited by referenced rules.

in your example ```SGroup``` has the ```skipws``` attribute. It calls the ```Sentence```, which has no specification concerning ```skipws```. Thus (obviously), ```Sentence``` inherits the ability. Same for the ```Word``` (called by the ```Sentence```). And here, 'bar' + SPACE + '.' are then **merged to o

[2019-09-18 20:13] goto40 commented on #205
I created a possible bugfix branch with the different examples as unittests (one of them failing):
https://github.com/textX/textX/commit/2d1ef0f18d4050282dc60751bc888130435d4139

[2019-09-19 06:25] igordejanovic commented on #207
@goto40 thanks for the analysis. I agree. `$` acts as an anchor to the end of the line similarly to `^` that act as an anchor to the beginning. Thus, `\n` should be consumed explicitly.
First example above should leave `\n` unconsumed.

I'm closing this as resolved. If anyone thinks this is a problem we can reopen and discuss.

[2019-09-19 06:25] #207 closed, assigned to nobody

[2019-09-19 18:06] goto40 commented on #206
The current master should fix this issue. See CHANGELOG.md.

[2019-09-19 18:06] #206 closed, assigned to nobody

[2019-09-20 07:56] igordejanovic commented on #205
`skipws/noskipws` carry its effect to the referenced rules. It is meant to be implemented that way.
Thus, having these flags on a rule will effect all parses "passing over" the rule. If the docs is ambiguous on that part we shall fix the docs to be more explicit.
@wryun But, I think that the above example is not the same as the one posted on SO? I think that the original problem was an interplay o

[2019-09-20 17:03] goto40 commented on #205
Thank you for the info. Indeed the behavior is implicitly defined in the example in http://textx.github.io/textX/stable/grammar/. I will correct the unittests (as example).

I will also have a look at the SO example...

[2019-09-20 17:31] goto40 commented on #205
The example reveals:

[code]
fails with ```bar. != bar``` (```noskipws``` seems not work here.)

[2019-09-20 18:24] goto40 commented on #205
More experiments revealed:
[code]
is ok, but
[code]
is not.

[2019-09-20 19:21] igordejanovic commented on #205
I think I've found the source of the problem. It's `OrderedChoice` in Arpeggio. The `Word` node is `OrderedChoice` and it's not doing `skipws` set/restore as `Sequence` is doing. I'm preparing a fix in Arpeggio to cover this although `OrderedChoice` alone with `noskipws` is of little use in my opinion as you have to collect preceding spaces, as explained in SO thread, and that converts the rule to

[2019-09-20 19:43] goto40 commented on #205
@igordejanovic: Maybe you could have a look at https://github.com/textX/Arpeggio/pull/62.
With this I had some advances in this issue...

[2019-09-20 19:44] goto40 commented on #205
Oh sorry. I did not see you comment above. We had a similar analysis ;-)